docbook/relaxng/soextblx.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/0.9"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	 xmlns:dtd="http://www.oasis-open.org/docbook/relaxng/dtdannotations"
         ns="">

<dtd:comment> XML EXCHANGE TABLE MODEL DECLARATION MODULE </dtd:comment>

<dtd:comment> This set of declarations defines the XML version of the Exchange
     Table Model as of the date shown in the Formal Public Identifier
     (FPI) for this entity.

     This set of declarations may be referred to using a public external
     entity declaration and reference as shown in the following three
     lines:

     &lt;!ENTITY % calstblx
       PUBLIC "-//OASIS//DTD XML Exchange Table Model 19990315//EN"&gt;
       %calstblx;

     If various parameter entities used within this set of declarations
     are to be given non-default values, the appropriate declarations
     should be given before calling in this package (i.e., before the
     "%calstblx;" reference).
</dtd:comment>

<dtd:comment> The motivation for this XML version of the Exchange Table Model
     is simply to create an XML version of the SGML Exchange Table
     Model. By design, no effort has been made to "improve" the model.

     This XML version incorporates the logical bare minimum changes
     necessary to make the Exchange Table Model a valid XML DTD.
</dtd:comment>

<dtd:comment> The XML version of the Exchange Table Model differs from
     the SGML version in the following ways:

     The following parameter entities have been removed:

       - tbl.table.excep, tbl.hdft.excep, tbl.row.excep, tbl.entry.excep
         There are no exceptions in XML. The following normative statement
         is made in lieu of exceptions: the exchange table model explicitly
         forbids a table from occurring within another table. If the
         content model of an entry includes a table element, then this
         cannot be enforced by the DTD, but it is a deviation from the
         exchange table model to include a table within a table.

       - tbl.hdft.name, tbl.hdft.mdl, tbl.hdft.excep, tbl.hdft.att
         The motivation for these elements was to change the table
         header/footer elements. Since XML does not allow element declarations
         to contain name groups, and the exchange table model does not
         allow a table to contain footers, the continued presence of these
         attributes seems unnecessary.

     The following parameter entity has been added:

       - tbl.thead.att
         This entity parameterizes the attributes on thead. It replaces
         the tbl.hdft.att parameter entity.

     Other miscellaneous changes:

       - Tag ommission indicators have been removed
       - Comments have been removed from declarations
       - NUMBER attributes have been changed to NMTOKEN
       - NUTOKEN attributes have been to changed to NMTOKEN
       - Removed the grouping characters around the content model
         parameter entry for the 'entry' element. This is necessary
         so that an entry can contain #PCDATA and be defined as an
         optional, repeatable OR group beginning with #PCDATA.
</dtd:comment>

<dtd:comment> This entity includes a set of element and attribute declarations
     that partially defines the Exchange table model.  However, the model
     is not well-defined without the accompanying natural language
     description of the semantics (meanings) of these various elements,
     attributes, and attribute values.  The semantic writeup, also available
     from SGML Open, should be used in conjunction with this entity.
</dtd:comment>

<dtd:comment> In order to use the Exchange table model, various parameter entity
     declarations are required.  A brief description is as follows:

     ENTITY NAME      WHERE USED              WHAT IT IS

     %yesorno         In ATTLIST of:          An attribute declared value
                      almost all elements     for a "boolean" attribute

     %paracon         In content model of:    The "text" (logical content)
                      &lt;entry>                 of the model group for &lt;entry>

     %titles          In content model of:    The "title" part of the model
                      table element           group for the table element

     %tbl.table.name  In declaration of:      The name of the "table"
                      table element           element

     %tbl.table-titles.mdl In content model of: The model group for the title
                      table elements          part of the content model for
                                              table element

     %tbl.table.mdl   In content model of:    The model group for the content
                      table elements          model for table element,
                                              often (and by default) defined
                                              in terms of %tbl.table-titles.mdl
                                              and tgroup

     %tbl.table.att   In ATTLIST of:          Additional attributes on the
                      table element           table element

     %bodyatt         In ATTLIST of:          Additional attributes on the
                      table element           table element (for backward
                                              compatibility with the SGML
                                              model)

     %tbl.tgroup.mdl  In content model of:    The model group for the content
                      &lt;tgroup>                model for &lt;tgroup>

     %tbl.tgroup.att  In ATTLIST of:          Additional attributes on the
                      &lt;tgroup>                &lt;tgroup> element

     %tbl.thead.att   In ATTLIST of:          Additional attributes on the
                      &lt;thead>                 &lt;thead> element

     %tbl.tbody.att   In ATTLIST of:          Additional attributes on the
                      &lt;tbody>                 &lt;tbody> element

     %tbl.colspec.att In ATTLIST of:          Additional attributes on the
                      &lt;colspec>               &lt;colspec> element

     %tbl.row.mdl     In content model of:    The model group for the content
                      &lt;row>                   model for &lt;row>

     %tbl.row.att     In ATTLIST of:          Additional attributes on the
                      &lt;row>                   &lt;row> element

     %tbl.entry.mdl   In content model of:    The model group for the content
                      &lt;entry>                 model for &lt;entry>

     %tbl.entry.att   In ATTLIST of:          Additional attributes on the
                      &lt;entry>                 &lt;entry> element

     This set of declarations will use the default definitions shown below
     for any of these parameter entities that are not declared before this
     set of declarations is referenced.
</dtd:comment>

<dtd:comment> These definitions are not directly related to the table model, but are
     used in the default CALS table model and may be defined elsewhere (and
     prior to the inclusion of this table module) in the referencing DTD. </dtd:comment>

<dtd:pe-decl name="yesorno">NMTOKEN</dtd:pe-decl>
<dtd:comment> no if zero(s), yes if any other value </dtd:comment>

<define name="titles">
  <optional>
    <ref name="title.element"/>
  </optional>
</define>

<dtd:pe-decl name="pcd">#PCDATA</dtd:pe-decl>

<define name="paracon">
  <text/>
</define>

<!--
<dtd:pe-decl name="paracon"><dtd:pe-ref name="pcd"/></dtd:pe-decl>
-->

<dtd:comment> default for use in entry content </dtd:comment>

<dtd:comment>
The parameter entities as defined below change and simplify the CALS table
model as published (as part of the Example DTD) in MIL-HDBK-28001.  The
resulting simplified DTD has support from the SGML Open vendors and is
therefore more interoperable among different systems.

These following declarations provide the Exchange default definitions
for these entities.  However, these entities can be redefined (by giving
the appropriate parameter entity declaration(s) prior to the reference
to this Table Model declaration set entity) to fit the needs of the
current application.

Note, however, that changes may have significant effect on the ability to
interchange table information.  These changes may manifest themselves
in useability, presentation, and possible structure information degradation.
</dtd:comment>

<dtd:pe-decl name="tbl.table.name">table</dtd:pe-decl>
<dtd:pe-decl name="tbl.table-titles.mdl">%titles;,</dtd:pe-decl>
<dtd:pe-decl name="tbl.table-main.mdl">tgroup+</dtd:pe-decl>
<dtd:pe-decl name="tbl.table.mdl">%tbl.table-titles.mdl; %tbl.table-main.mdl;</dtd:pe-decl>

<define name="tbl.table.mdl">
  <group>
    <ref name="titles"/>
    <oneOrMore>
      <ref name="tgroup.element"/>
    </oneOrMore>
  </group>
</define>

<define name="tbl.table.att">
  <optional>
    <attribute name="pgwide" dtd:type="%yesorno;"/>
  </optional>
</define>

<define name="bodyatt">
  <notAllowed/>
</define>

<define name="tbl.tgroup.mdl">
  <zeroOrMore>
    <ref name="colspec.element"/>
  </zeroOrMore>
  <optional>
    <ref name="thead.element"/>
  </optional>
  <ref name="tbody.element"/>
</define>

<define name="tbl.tgroup.att">
  <notAllowed/>
</define>

<define name="tbl.thead.att">
  <notAllowed/>
</define>

<define name="tbl.tbody.att">
  <notAllowed/>
</define>

<define name="tbl.colspec.att">
  <notAllowed/>
</define>

<define name="tbl.row.mdl">
  <oneOrMore>
    <ref name="entry.element"/>
  </oneOrMore>
</define>

<define name="tbl.row.att">
  <notAllowed/>
</define>

<define name="tbl.entry.mdl">
  <zeroOrMore>
    <group>
      <ref name="paracon"/>
    </group>
  </zeroOrMore>
</define>

<define name="tbl.entry.att">
  <notAllowed/>
</define>

<dtd:comment> =====  Element and attribute declarations follow. =====  </dtd:comment>

<dtd:comment>
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.table.name       "table"
     ENTITY % tbl.table-titles.mdl "%titles;,"
     ENTITY % tbl.table.mdl        "%tbl.table-titles; tgroup+"
     ENTITY % tbl.table.att        "
                        pgwide          %yesorno;       #IMPLIED "
</dtd:comment>

<define name="table.element" dtd:name="%tbl.table.name;">
  <element name="table">
    <group>
      <ref name="tbl.table.mdl"/>
    </group>
  </element>
</define>

<define name="table.attlist" dtd:name="%tbl.table.name;">
  <optional>
    <attribute name="frame">
      <choice>
        <value>top</value>
        <value>bottom</value>
        <value>topbot</value>
        <value>all</value>
        <value>sides</value>
        <value>none</value>
      </choice>
    </attribute>
  </optional>
  <optional>
    <attribute name="colsep" dtd:type="%yesorno;"/>
  </optional>
  <optional>
    <attribute name="rowsep" dtd:type="%yesorno;"/>
  </optional>
  <ref name="tbl.table.att"/>
  <ref name="bodyatt"/>
</define>

<dtd:comment>
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.tgroup.mdl    "colspec*,thead?,tbody"
     ENTITY % tbl.tgroup.att    ""
</dtd:comment>

<define name="tgroup.element">
  <element name="tgroup">
    <group>
      <ref name="tbl.tgroup.mdl"/>
    </group>
  </element>
</define>

<define name="tgroup.attlist">
  <attribute name="cols">
    <data type="NMTOKEN"/>
  </attribute>
  <optional>
    <attribute name="colsep" dtd:type="%yesorno;"/>
  </optional>
  <optional>
    <attribute name="rowsep" dtd:type="%yesorno;"/>
  </optional>
  <optional>
    <attribute name="align">
      <choice>
        <value>right</value>
        <value>left</value>
        <value>center</value>
        <value>justify</value>
        <value>char</value>
      </choice>
    </attribute>
  </optional>
  <ref name="tbl.tgroup.att"/>
</define>

<dtd:comment>
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.colspec.att   ""
</dtd:comment>

<define name="colspec.element">
  <element name="colspec">
    <notAllowed/>
  </element>
</define>

<define name="colspec.attlist">
  <optional>
    <attribute name="colnum">
      <data type="NMTOKEN"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="colname">
      <data type="NMTOKEN"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="colwidth"/>
  </optional>
  <optional>
    <attribute name="colsep" dtd:type="%yesorno;"/>
  </optional>
  <optional>
    <attribute name="rowsep" dtd:type="%yesorno;"/>
  </optional>
  <optional>
    <attribute name="align">
      <choice>
        <value>right</value>
        <value>left</value>
        <value>center</value>
        <value>justify</value>
        <value>char</value>
      </choice>
    </attribute>
  </optional>
  <optional>
    <attribute name="char"/>
  </optional>
  <optional>
    <attribute name="charoff">
      <data type="NMTOKEN"/>
    </attribute>
  </optional>
  <ref name="tbl.colspec.att"/>
</define>

<dtd:comment>
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.thead.att      ""
</dtd:comment>

<define name="thead.element">
  <element name="thead">
    <group>
      <oneOrMore>
        <ref name="row.element"/>
      </oneOrMore>
    </group>
  </element>
</define>

<define name="thead.attlist">
  <optional>
    <attribute name="valign">
      <choice>
        <value>top</value>
        <value>middle</value>
        <value>bottom</value>
      </choice>
    </attribute>
  </optional>
  <ref name="tbl.thead.att"/>
</define>

<dtd:comment>
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.tbody.att     ""
</dtd:comment>

<define name="tbody.element">
  <element name="tbody">
    <group>
      <oneOrMore>
        <ref name="row.element"/>
      </oneOrMore>
    </group>
  </element>
</define>

<define name="tbody.attlist">
  <optional>
    <attribute name="valign">
      <choice>
        <value>top</value>
        <value>middle</value>
        <value>bottom</value>
      </choice>
    </attribute>
  </optional>
  <ref name="tbl.tbody.att"/>
</define>

<dtd:comment>
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.row.mdl       "entry+"
     ENTITY % tbl.row.att       ""
</dtd:comment>

<define name="row.element">
  <element name="row">
    <group>
      <ref name="tbl.row.mdl"/>
    </group>
  </element>
</define>

<define name="row.attlist">
  <optional>
    <attribute name="rowsep" dtd:type="%yesorno;"/>
  </optional>
  <optional>
    <attribute name="valign">
      <choice>
        <value>top</value>
        <value>middle</value>
        <value>bottom</value>
      </choice>
    </attribute>
  </optional>
  <ref name="tbl.row.att"/>
</define>

<dtd:comment>
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % paracon           "#PCDATA"
     ENTITY % tbl.entry.mdl     "(%paracon;)*"
     ENTITY % tbl.entry.att     ""
</dtd:comment>

<define name="entry.element">
  <element name="entry">
    <ref name="tbl.entry.mdl"/>
  </element>
</define>

<define name="entry.attlist">
  <optional>
    <attribute name="colname">
      <data type="NMTOKEN"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="namest">
      <data type="NMTOKEN"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="nameend">
      <data type="NMTOKEN"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="morerows">
      <data type="NMTOKEN"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="colsep" dtd:type="%yesorno;"/>
  </optional>
  <optional>
    <attribute name="rowsep" dtd:type="%yesorno;"/>
  </optional>
  <optional>
    <attribute name="align">
      <choice>
        <value>right</value>
        <value>left</value>
        <value>center</value>
        <value>justify</value>
        <value>char</value>
      </choice>
    </attribute>
  </optional>
  <optional>
    <attribute name="char"/>
  </optional>
  <optional>
    <attribute name="charoff">
      <data type="NMTOKEN"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="valign">
      <choice>
        <value>top</value>
        <value>middle</value>
        <value>bottom</value>
      </choice>
    </attribute>
  </optional>
  <ref name="tbl.entry.att"/>
</define>

</grammar>
