schema/relaxng/ebnf/ebnf.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:rng="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:s="http://www.ascc.net/xml/schematron"
         xmlns:doc="http://nwalsh.com/xmlns/documentation"
         xmlns:db="http://nwalsh.com/xmlns/docbook-grammar-structure"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<rng:div doc:docbook="yes" xmlns="">
<partinfo>
<releaseinfo
   role="cvs">$Id$</releaseinfo>
<title>DocBook EBNF Module</title>
<productname>DocBook</productname>
<productnumber>1.1CR1+</productnumber>
<releaseinfo role="filename">ebnf</releaseinfo>
<copyright>
<year>2001</year>
<year>2002</year>
<holder>OASIS Open, Inc.</holder>
</copyright>

<legalnotice>
<para>Permission to use, copy, modify and distribute the DocBook schema
and its accompanying documentation for any purpose and without fee
is hereby granted in perpetuity, provided that the above copyright
notice and this paragraph appear in all copies. The copyright
holders make no representation about the suitability of the schema for
any purpose. It is provided <quote>as is</quote> without expressed or implied
warranty.</para>

<para>If you modify the DocBook in any way, except for declaring and
referencing additional sets of general entities and declaring
additional notations, label your schema as a variant of DocBook. See
the maintenance documentation for more information.</para>

<para>Please direct all questions, bug reports, or suggestions for
changes to the <email>docbook@lists.oasis-open.org</email> mailing list. For more
information, see <ulink url="http://www.oasis-open.org/docbook/"/>.</para>
</legalnotice>
</partinfo>

<partintro>
<para>This module contains the definitions for the DocBook EBNF module.
</para>

<para>When using this schema in driver files referring to the DTD
version of this module, please use an entity declaration that uses the
public identifier shown below:</para>

<para>This is the driver file for V1.1CR1 of the DocBook EBNF Module.
Please use the following formal public identifier to identify it:</para>

<screen>-//OASIS//DTD DocBook EBNF Module V1.1CR1//EN</screen>

<para>For example, if your document's top-level element is Book, and
you are using DocBook directly, use the FPI in the DOCTYPE
declaration:

<screen><![CDATA[<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook EBNF Module V1.1CR1//EN"
               "http://www.oasis-open.org/docbook/xml/ebnf/1.1CR1/dbebnf.dtd"
               [...]>]]></screen>

<para>Or, if you have a higher-level driver file that customizes DocBook,
use the FPI in the parameter entity declaration:</para>

<screen><![CDATA[<!ENTITY % DocBookEBNFDTD PUBLIC "-//OASIS//DTD DocBook EBNF Module V1.1CR1//EN"
           "http://www.oasis-open.org/docbook/xml/ebnf/1.1CR1/dbebnf.dtd">
%DocBookEBNFDTD;]]></screen>

<para>See the documentation for detailed information on the parameter
entity and module scheme used in DocBook, customizing DocBook and
planning for interchange, and changes made since the last release
of DocBook.</para>
</partintro>
</rng:div>

  <define name="ebnf.inline.hook" combine="choice">
    <ref name="nonterminal"/>
  </define>

  <define name="ebnf.block.hook" combine="choice">
    <choice>
      <ref name="productionset"/>
      <ref name="constraintdef"/>
    </choice>
  </define>

  <define name="productionset">
    <element name="productionset">
      <ref name="productionset.attlist"/>
      <optional>
        <ref name="formalobject.title.content"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="production"/>
          <ref name="productionrecap"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="productionset.attlist" combine="interleave">
    <ref name="common.attrib"/>
    <ref name="role.attrib"/>
  </define>

  <define name="production">
    <element name="production">
      <ref name="production.attlist"/>
      <ref name="lhs"/>
      <ref name="rhs"/>
      <zeroOrMore>
        <ref name="constraint"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="production.attlist" combine="interleave">
    <ref name="idreq.common.attrib"/>
    <ref name="role.attrib"/>
  </define>

  <define name="lhs">
    <element name="lhs">
      <ref name="lhs.attlist"/>
      <text/>
    </element>
  </define>

  <define name="lhs.attlist" combine="interleave">
    <ref name="common.attrib"/>
    <ref name="role.attrib"/>
  </define>

  <define name="rhs">
    <element name="rhs">
      <ref name="rhs.attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="nonterminal"/>
          <ref name="lineannotation"/>
          <ref name="sbr"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="rhs.attlist" combine="interleave">
    <ref name="common.attrib"/>
    <ref name="role.attrib"/>
  </define>

<!-- Allowed to be an xpointer: you can point to non-terminals in -->
<!-- other specifications. -->
  <define name="required-XLink-to-production-ID">
    <attribute name="def"/>
  </define>

  <define name="nonterminal">
    <element name="nonterminal">
      <ref name="nonterminal.attlist"/>
      <text/>
    </element>
  </define>

  <define name="nonterminal.attlist" combine="interleave">
    <ref name="common.attrib"/>
    <ref name="required-XLink-to-production-ID"/>
    <ref name="role.attrib"/>
  </define>

<!-- Must be an IDREF: constraints identified in your spec must be -->
<!-- represented in your spec. -->
  <define name="required-IDREF-to-constraintdef-ID">
    <attribute name="linkend">
      <data type="IDREF"/>
    </attribute>
  </define>

  <define name="constraint">
    <element name="constraint">
      <ref name="constraint.attlist"/>
      <empty/>
    </element>
  </define>

  <define name="constraint.attlist" combine="interleave">
    <ref name="common.attrib"/>
    <ref name="required-IDREF-to-constraintdef-ID"/>
    <ref name="role.attrib"/>
  </define>

<!-- Must be an IDREF: you can only recap productions in your spec -->
  <define name="required-IDREF-to-production-ID">
    <attribute name="linkend">
      <data type="IDREF"/>
    </attribute>
  </define>

  <define name="productionrecap">
    <element name="productionrecap">
      <ref name="productionrecap.attlist"/>
      <empty/>
    </element>
  </define>

  <define name="productionrecap.attlist" combine="interleave">
    <ref name="common.attrib"/>
    <ref name="role.attrib"/>
    <ref name="required-IDREF-to-production-ID"/>
  </define>

  <define name="constraintdef">
    <element name="constraintdef">
      <ref name="constraintdef.attlist"/>
      <ref name="title"/>
      <ref name="admon.mix"/>
    </element>
  </define>

  <define name="constraintdef.attlist" combine="interleave">
    <ref name="idreq.common.attrib"/>
    <ref name="role.attrib"/>
  </define>

<!-- End of dbebnf.dtd V1.1CR1 ............................................ -->
<!-- ...................................................................... -->

</grammar>
