docbook/relaxng/src/calstbl.rnc

# This file is part of DocBook NG: The "Eaux-de-vie" Release.

# This schema is a "work-in-progress". It validates a DocBook-like grammar that
# may, in some incarnation, form the basis for DocBook V.next. Or it may not.
# At the moment, it's just an exploration by Norm. It has utterly no normative
# value at all.
#
# Author: Norman Walsh, <ndw@nwalsh.com>
# Source: Derived from DocBook XML V4.3
# Release: $Id$
#
# ======================================================================

namespace ctrl = "http://nwalsh.com/xmlns/schema-control/"
namespace rng  = "http://relaxng.org/ns/structure/1.0"
namespace s = "http://www.ascc.net/xml/schematron"
namespace db = "http://docbook.org/docbook-ng"
default namespace = "http://docbook.org/docbook-ng"

db.table.choice |= db.cals.table
db.informaltable.choice |= db.cals.informaltable

db.char.attribute = attribute char { text }
db.charoff.attribute = attribute charoff { text }
db.colsep.attribute = attribute colsep { text }
db.rowsep.attribute = attribute rowsep { text }
db.align.attribute =
  attribute align { "center" | "char" | "justify" | "left" | "right" }
db.valign.attribute = attribute valign { "bottom" | "middle" | "top" }
db.spanname.attribute = attribute spanname { text }
db.colname.attribute = attribute colname { text }

# ======================================================================

[
   db:refname [ "tgroup" ]
   db:refpurpose [ "" ]
]
div {

   db.tgroup.role.attribute = attribute role { text }

   db.tgroup.attlist =
      db.tgroup.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & db.char.attribute?
    & db.charoff.attribute?
    & attribute tgroupstyle { text }?
    & attribute cols { xsd:integer }
    & db.colsep.attribute?
    & db.rowsep.attribute?
    & db.align.attribute?

   db.tgroup =
      element tgroup {
         db.tgroup.attlist,
         db.colspec*,
         db.spanspec*,
         db.cals.thead?,
         db.cals.tfoot?,
         db.cals.tbody
      }
}

# ======================================================================

[
   db:refname [ "colspec" ]
   db:refpurpose [ "" ]
]
div {

   db.colspec.role.attribute = attribute role { text }

   db.colspec.attlist =
      db.colspec.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & attribute colnum { xsd:integer }?
    & db.char.attribute?
    & db.colsep.attribute?
    & attribute colwidth { text }?
    & db.charoff.attribute?
    & db.colname.attribute?
    & db.rowsep.attribute?
    & db.align.attribute?

   db.colspec =
      element colspec {
         db.colspec.attlist,
         empty
      }
}

# ======================================================================

[
   db:refname [ "spanspec" ]
   db:refpurpose [ "" ]
]
div {

   db.spanspec.role.attribute = attribute role { text }

   db.spanspec.attlist =
      db.spanspec.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & attribute namest { text }
    & attribute nameend { text }
    & db.spanname.attribute
    & db.char.attribute?
    & db.colsep.attribute?
    & db.charoff.attribute?
    & db.rowsep.attribute?
    & db.align.attribute?

   db.spanspec =
      element spanspec {
         db.spanspec.attlist,
         empty
      }
}

# ======================================================================

[
   db:refname [ "thead" ]
   db:refpurpose [ "" ]
]
div {

   db.cals.thead.role.attribute = attribute role { text }

   db.cals.thead.attlist =
      db.cals.thead.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & db.valign.attribute?

   db.cals.thead =
      element thead {
         db.cals.thead.attlist,
         db.colspec*,
         db.row+
      }
}

# ======================================================================

[
   db:refname [ "tfoot" ]
   db:refpurpose [ "" ]
]
div {

   db.cals.tfoot.role.attribute = attribute role { text }

   db.cals.tfoot.attlist =
      db.cals.tfoot.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & db.valign.attribute?

   db.cals.tfoot =
      element tfoot {
         db.cals.tfoot.attlist,
         db.colspec*,
         db.row+
      }
}

# ======================================================================

[
   db:refname [ "tbody" ]
   db:refpurpose [ "" ]
]
div {

   db.cals.tbody.role.attribute = attribute role { text }

   db.cals.tbody.attlist =
      db.cals.tbody.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & db.valign.attribute?

   db.cals.tbody =
      element tbody {
         db.cals.tbody.attlist,
         db.row+
      }
}

# ======================================================================

[
   db:refname [ "row" ]
   db:refpurpose [ "" ]
]
div {

   db.row.role.attribute = attribute role { text }

   db.row.attlist =
      db.row.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & db.rowsep.attribute?
    & db.valign.attribute?

   db.row = element row {
      db.row.attlist,
      (db.entry | db.entrytbl)+
   }
}

# ======================================================================

[
   db:refname [ "entry" ]
   db:refpurpose [ "" ]
]
div {

   db.entry.role.attribute = attribute role { text }

   db.entry.attlist =
      db.entry.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & attribute nameend { text }?
    & db.valign.attribute?
    & db.char.attribute?
    & db.colsep.attribute?
    & db.charoff.attribute?
    & attribute morerows { xsd:integer }?
    & attribute spanname { text }?
    & attribute namest { text }?
    & db.colname.attribute?
    & db.rowsep.attribute?
    & attribute rotate { text }?
    & db.align.attribute?

   db.entry = element entry {
      db.entry.attlist,
      (db.all.inlines* | db.all.blocks*)
   }
}

# ======================================================================

[
   db:refname [ "entrytbl" ]
   db:refpurpose [ "" ]
]
div {

   db.entrytbl.role.attribute = attribute role { text }

   db.entrytbl.attlist =
      db.entrytbl.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & attribute nameend { text }?
    & db.char.attribute?
    & db.charoff.attribute?
    & attribute spanname { text }?
    & attribute namest { text }?
    & attribute tgroupstyle { text }?
    & attribute cols { xsd:integer }?
    & db.colsep.attribute?
    & db.rowsep.attribute?
    & db.colname.attribute?
    & db.align.attribute?

   db.entrytbl =
      element entrytbl {
         db.entrytbl.attlist,
         db.colspec*,
         db.spanspec*,
         db.cals.entrytbl.thead?,
         db.cals.entrytbl.tbody
      }
}

# ======================================================================

[
   db:refname [ "thead" ]
   db:refpurpose [ "" ]
]
div {

   db.cals.entrytbl.thead.role.attribute = attribute role { text }

   db.cals.entrytbl.thead.attlist =
      db.cals.entrytbl.thead.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & db.valign.attribute?

   db.cals.entrytbl.thead =
      element thead {
         db.cals.entrytbl.thead.attlist,
         db.colspec*,
         db.entrytbl.row+
      }
}

# ======================================================================

[
   db:refname [ "tbody" ]
   db:refpurpose [ "" ]
]
div {

   db.cals.entrytbl.tbody.role.attribute = attribute role { text }

   db.cals.entrytbl.tbody.attlist =
      db.cals.entrytbl.tbody.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & db.valign.attribute?

   db.cals.entrytbl.tbody =
      element tbody {
         db.cals.entrytbl.tbody.attlist,
         db.entrytbl.row+
      }
}

# ======================================================================

[
   db:refname [ "row" ]
   db:refpurpose [ "" ]
]
div {

   db.entrytbl.row.role.attribute = attribute role { text }

   db.entrytbl.row.attlist =
      db.entrytbl.row.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & db.rowsep.attribute?
    & db.valign.attribute?

   db.entrytbl.row = element row {
      db.entrytbl.row.attlist,
      db.entry+
   }
}

# ======================================================================

[
   db:refname [ "table" ]
   db:refpurpose [ "" ]
]
div {

   ctrl:exclude [ from="db.cals.table" exclude="db.cals.table" ]
   ctrl:exclude [ from="db.cals.table" exclude="db.cals.informaltable" ]

   db.cals.table.role.attribute = attribute role { text }

   db.cals.table.attlist =
      db.cals.table.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & attribute tabstyle { text }?
    & attribute orient { "land" | "port" }?
    & db.colsep.attribute?
    & db.rowsep.attribute?
    & attribute frame { "all" | "bottom" | "none" | "sides" | "top" | "topbot" }?
    & attribute pgwide { "0" | "1" }?

   db.cals.table.info = db._info.title.onlyreq

   db.cals.table = element table {
      db.cals.table.attlist,
      db.cals.table.info,
      db.indexing.inlines*,
      db.textobject*,
      (db.mediaobject+|db.tgroup+)
   }
}

# ======================================================================

[
   db:refname [ "informaltable" ]
   db:refpurpose [ "" ]
]
div {

   db.cals.informaltable.role.attribute = attribute role { text }

   db.cals.informaltable.attlist =
      db.cals.informaltable.role.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & attribute tabstyle { text }?
    & attribute orient { "land" | "port" }?
    & db.colsep.attribute?
    & db.rowsep.attribute?
    & attribute frame { "all" | "bottom" | "none" | "sides" | "top" | "topbot" }?
    & attribute pgwide { "0" | "1" }?

   db.cals.informaltable.info = db._info.title.forbidden

   db.cals.informaltable =
      element informaltable {
         db.cals.informaltable.attlist,
         db.cals.informaltable.info,
         db.indexing.inlines*,
         db.textobject*,
         (db.mediaobject+|db.tgroup+)
      }
}
