gentext/dtd/l10n.dtd

<!ELEMENT localization (locale+)>

<!ELEMENT locale (gentext|dingbat|xref)*>
<!ATTLIST locale
	language	CDATA	#REQUIRED
>

<!ELEMENT gentext EMPTY>
<!ATTLIST gentext
	key		CDATA	#REQUIRED
	text		CDATA	#REQUIRED
>

<!ELEMENT dingbat EMPTY>
<!ATTLIST dingbat
	key		CDATA	#REQUIRED
	text		CDATA	#REQUIRED
>

<!ELEMENT xref EMPTY>
<!ATTLIST xref
	element		CDATA	#REQUIRED
	text		CDATA	#REQUIRED
>
