schema/relaxng/htmlforms/htmlforms.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:rng="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:s="http://www.ascc.net/xml/schematron"
         xmlns:doc="http://nwalsh.com/xmlns/documentation"
         xmlns:db="http://nwalsh.com/xmlns/docbook-grammar-structure"
         xmlns:html="http://www.w3.org/1999/xhtml"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<rng:div doc:docbook="yes" xmlns="">
<partinfo>
<releaseinfo
   role="cvs">$Id$</releaseinfo>
<title>DocBook HTML Forms Module</title>
<productname>DocBook</productname>
<productnumber>1.1+</productnumber>
<releaseinfo role="filename">htmlforms</releaseinfo>
<copyright>
<year>2000</year>
<year>2001</year>
<year>2002</year>
<holder>OASIS Open, Inc.</holder>
</copyright>

<legalnotice>
<para>Permission to use, copy, modify and distribute the DocBook schema
and its accompanying documentation for any purpose and without fee
is hereby granted in perpetuity, provided that the above copyright
notice and this paragraph appear in all copies. The copyright
holders make no representation about the suitability of the schema for
any purpose. It is provided <quote>as is</quote> without expressed or implied
warranty.</para>

<para>If you modify the DocBook in any way, except for declaring and
referencing additional sets of general entities and declaring
additional notations, label your schema as a variant of DocBook. See
the maintenance documentation for more information.</para>

<para>Please direct all questions, bug reports, or suggestions for
changes to the <email>docbook@lists.oasis-open.org</email> mailing list. For more
information, see <ulink url="http://www.oasis-open.org/docbook/"/>.</para>
</legalnotice>
</partinfo>

<partintro>
<para>This module contains the definitions for the DocBook HTML Forms module.
</para>

<para>When using this schema in driver files referring to the DTD
version of this module, please use an entity declaration that uses the
public identifier shown below:</para>

<screen>-//OASIS//DTD DocBook HTML Forms Module V1.1//EN</screen>

<para>For example, if your document's top-level element is Book, and
you are using DocBook directly, use the FPI in the DOCTYPE
declaration:</para>

<screen><![CDATA[<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook HTML Forms Module V1.1//EN"
               "http://www.oasis-open.org/docbook/xml/htmlforms/1.1/dbforms.dtd"
               [...]>]]></screen>

<para>Or, if you have a higher-level driver file that customizes DocBook,
use the FPI in the parameter entity declaration:</para>

<screen><![CDATA[<!ENTITY % DocBookHTMLFormsDTD PUBLIC "-//OASIS//DTD DocBook HTML Forms Module V1.1//EN"
           "http://www.oasis-open.org/docbook/xml/htmlforms/1.1/dbforms.dtd">
%DocBookHTMLFormsDTD;]]></screen>

<para>See the documentation for detailed information on the parameter
entity and module scheme used in DocBook, customizing DocBook and
planning for interchange, and changes made since the last release
of DocBook.</para>
</partintro>
</rng:div>

  <define name="forminlines.hook" combine="choice">
    <choice>
      <ref name="html.input"/>
      <ref name="html.button"/>
      <ref name="html.label"/>
      <ref name="html.select"/>
      <ref name="html.textarea"/>
    </choice>
  </define>

  <define name="forms.hook" combine="choice">
    <ref name="html.form"/>
  </define>

  <define name="events">
    <optional>
      <attribute name="onclick"/>
    </optional>
    <optional>
      <attribute name="ondblclick"/>
    </optional>
    <optional>
      <attribute name="onmousedown"/>
    </optional>
    <optional>
      <attribute name="onmouseup"/>
    </optional>
    <optional>
      <attribute name="onmouseover"/>
    </optional>
    <optional>
      <attribute name="onmousemove"/>
    </optional>
    <optional>
      <attribute name="onmouseout"/>
    </optional>
    <optional>
      <attribute name="onkeypress"/>
    </optional>
    <optional>
      <attribute name="onkeydown"/>
    </optional>
    <optional>
      <attribute name="onkeyup"/>
    </optional>
  </define>

  <define name="html.form">
    <element name="html:form">
      <ref name="html.form.attlist"/>
      <oneOrMore>
        <choice>
          <ref name="component.mix"/>
          <ref name="html.input"/>
          <ref name="html.button"/>
          <ref name="html.label"/>
          <ref name="html.select"/>
          <ref name="html.textarea"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="html.form.attlist" combine="interleave">
    <empty/>
    <ref name="common.attrib"/>
    <ref name="events"/>
    <attribute name="action"/>
    <optional>
      <attribute name="method" a:defaultValue="GET">
        <choice>
          <value>GET</value>
          <value>POST</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="onsubmit"/>
    </optional>
    <optional>
      <attribute name="onreset"/>
    </optional>
  </define>

  <define name="inputtype">
    <choice>
      <value>text</value>
      <value>password</value>
      <value>checkbox</value>
      <value>radio</value>
      <value>submit</value>
      <value>reset</value>
      <value>file</value>
      <value>hidden</value>
      <value>image</value>
      <value>button</value>
    </choice>
  </define>

  <define name="html.input">
    <element name="html:input">
      <ref name="html.input.attlist"/>
      <empty/>
    </element>
  </define>

  <define name="html.input.attlist" combine="interleave">
    <empty/>
    <ref name="common.attrib"/>
    <ref name="events"/>
    <optional>
      <attribute name="type" a:defaultValue="text">
        <ref name="inputtype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name"/>
    </optional>
    <optional>
      <attribute name="value"/>
    </optional>
    <optional>
      <attribute name="checked">
        <choice>
          <value>checked</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="disabled">
        <choice>
          <value>disabled</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="readonly">
        <choice>
          <value>readonly</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="size"/>
    </optional>
    <optional>
      <attribute name="maxlength"/>
    </optional>
    <optional>
      <attribute name="src"/>
    </optional>
    <optional>
      <attribute name="alt"/>
    </optional>
    <optional>
      <attribute name="usemap"/>
    </optional>
    <optional>
      <attribute name="tabindex"/>
    </optional>
    <optional>
      <attribute name="accesskey"/>
    </optional>
    <optional>
      <attribute name="onfocus"/>
    </optional>
    <optional>
      <attribute name="onblur"/>
    </optional>
    <optional>
      <attribute name="onselect"/>
    </optional>
    <optional>
      <attribute name="onchange"/>
    </optional>
  </define>
  <define name="html.button">
    <element name="html:button">
      <ref name="html.button.attlist"/>
      <zeroOrMore>
        <ref name="para.char.mix"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="html.button.attlist" combine="interleave">
    <empty/>
    <ref name="common.attrib"/>
    <ref name="events"/>
    <optional>
      <attribute name="name"/>
    </optional>
    <optional>
      <attribute name="value"/>
    </optional>
    <optional>
      <attribute name="type" a:defaultValue="submit">
        <choice>
          <value>button</value>
          <value>submit</value>
          <value>reset</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="disabled">
        <choice>
          <value>disabled</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="tabindex"/>
    </optional>
    <optional>
      <attribute name="accesskey"/>
    </optional>
    <optional>
      <attribute name="onfocus"/>
    </optional>
    <optional>
      <attribute name="onblur"/>
    </optional>
  </define>

  <define name="html.label">
    <element name="html:label">
      <ref name="html.label.attlist"/>
      <zeroOrMore>
        <ref name="para.char.mix"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="html.label.attlist" combine="interleave">
    <empty/>
    <ref name="common.attrib"/>
    <ref name="events"/>
    <optional>
      <attribute name="for">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="accesskey"/>
    </optional>
    <optional>
      <attribute name="onfocus"/>
    </optional>
    <optional>
      <attribute name="onblur"/>
    </optional>
  </define>

  <define name="html.select">
    <element name="html:select">
      <ref name="html.select.attlist"/>
      <oneOrMore>
        <ref name="html.option"/>
      </oneOrMore>
    </element>
  </define>

  <define name="html.select.attlist" combine="interleave">
    <empty/>
    <ref name="common.attrib"/>
    <ref name="events"/>
    <optional>
      <attribute name="name"/>
    </optional>
    <optional>
      <attribute name="size"/>
    </optional>
    <optional>
      <attribute name="multiple">
        <choice>
          <value>multiple</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="disabled">
        <choice>
          <value>disabled</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="tabindex"/>
    </optional>
    <optional>
      <attribute name="onfocus"/>
    </optional>
    <optional>
      <attribute name="onblur"/>
    </optional>
    <optional>
      <attribute name="onchange"/>
    </optional>
  </define>

  <define name="html.option">
    <element name="html:option">
      <ref name="html.option.attlist"/>
      <text/>
    </element>
  </define>

  <define name="html.option.attlist" combine="interleave">
    <empty/>
    <ref name="common.attrib"/>
    <ref name="events"/>
    <optional>
      <attribute name="selected">
        <choice>
          <value>selected</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="disabled">
        <choice>
          <value>disabled</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="value"/>
    </optional>
  </define>

  <define name="html.textarea">
    <element name="html:textarea">
      <ref name="html.textarea.attlist"/>
      <text/>
    </element>
  </define>

  <define name="html.textarea.attlist" combine="interleave">
    <empty/>
    <ref name="common.attrib"/>
    <ref name="events"/>
    <optional>
      <attribute name="name"/>
    </optional>
    <attribute name="rows"/>
    <attribute name="cols"/>
    <optional>
      <attribute name="disabled">
        <choice>
          <value>disabled</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="readonly">
        <choice>
          <value>readonly</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="tabindex"/>
    </optional>
    <optional>
      <attribute name="accesskey"/>
    </optional>
    <optional>
      <attribute name="onfocus"/>
    </optional>
    <optional>
      <attribute name="onblur"/>
    </optional>
    <optional>
      <attribute name="onselect"/>
    </optional>
    <optional>
      <attribute name="onchange"/>
    </optional>
  </define>

<!-- End of dbforms.dtd V1.1 .............................................. -->
<!-- ...................................................................... -->

</grammar>
