docbook/sgml/docbook1.0.dtd

<!SGML  "ISO 8879:1986"
-- SGML declaration with Reference Concrete Syntax modifications --

--                       DocBook DTD
   Release 1.0, Copyright 1992  HaL Computer Systems, Inc., and
     O'Reilly & Associates, Inc.

   Permission to use, copy, modify and distribute the DocBook DTD and
     its accompanying documentation for any purpose and without fee is 
     hereby granted, provided that this copyright notice appears in all 
     copies.  HaL Computer Systems and O'Reilly & Associates make no 
     representation about the suitability of the DTD for any purpose.   
     It is provided "as is" without expressed or implied warranty.

   The DocBook DTD is maintained by O'Reilly & Associates.  Please
     direct all questions, bug reports, or suggestions for changes to
     dtd@ora.com or by mail to: Terry Allen, O'Reilly & Associates, Inc.,
     103A Morris Street, Sebastopol, California, 95472.

  --

CHARSET
         BASESET  "ISO 646:1983//CHARSET
                   International Reference Version (IRV)//ESC 2/5 4/0"
         DESCSET  0   9   UNUSED
                  9   2   9
                  11  2   UNUSED
                  13  1   13
                  14  18  UNUSED
                  32  95  32
                  127 1   UNUSED

CAPACITY	SGMLREF
		TOTALCAP	150000
		GRPCAP		150000
  
SCOPE    DOCUMENT
SYNTAX   
         SHUNCHAR CONTROLS 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
                           19 20 21 22 23 24 25 26 27 28 29 30 31 127 255
         BASESET  "ISO 646:1983//CHARSET
                   International Reference Version (IRV)//ESC 2/5 4/0"
         DESCSET  0 128 0
         FUNCTION RE          13
                  RS          10
                  SPACE       32
                  TAB SEPCHAR  9
         NAMING   LCNMSTRT ""
                  UCNMSTRT ""
                  LCNMCHAR ".-"
                  UCNMCHAR ".-"
                  NAMECASE GENERAL YES
                           ENTITY  NO
         DELIM    GENERAL  SGMLREF
                  SHORTREF SGMLREF
         NAMES    SGMLREF
         QUANTITY SGMLREF
                  NAMELEN  34
                  TAGLVL   100
                  LITLEN   1024
                  GRPGTCNT 150
                  GRPCNT   64                   

FEATURES
  MINIMIZE
    DATATAG  NO
    OMITTAG  NO
    RANK     NO
    SHORTTAG YES 
  LINK
    SIMPLE   NO
    IMPLICIT NO
    EXPLICIT NO
  OTHER
    CONCUR   NO
    SUBDOC   NO
    FORMAL   NO
  APPINFO    NONE
>


<!DOCTYPE Docbook  [
<!--     Publicly declared External Entities  -->

<!-- Uncomment the ENTITY declaration for your application. -->

<!--
<!ENTITY % ISOamsa PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Arrow Relations//EN">
          %ISOamsa;
  -->
<!--
<!ENTITY % ISOamsa SYSTEM "iso-amsa.gml">
          %ISOamsa;
  -->

<!--
<!ENTITY % ISOamsb PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Binary Operators//EN">
          %ISOamsb;
  -->
<!--
<!ENTITY % ISOamsb SYSTEM "iso-amsb.gml">
          %ISOamsb;
  -->

<!--
<!ENTITY % ISOamsc PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Delimiters//EN">
          %ISOamsc;
  -->
<!--
<!ENTITY % ISOamsc SYSTEM "iso-amsc.gml">
          %ISOamsc;
  -->

<!--
<!ENTITY % ISOamsn PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Negated Relations//EN">
          %ISOamsn;
  -->
<!--
<!ENTITY % ISOamsn SYSTEM "iso-amsn.gml">
          %ISOamsn;
  -->

<!--
<!ENTITY % ISOamso PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Ordinary//EN">
          %ISOamso;
  -->
<!--
<!ENTITY % ISOamso SYSTEM "iso-amso.gml">
          %ISOamso;
  -->

<!--
<!ENTITY % ISOamsr PUBLIC "ISO 8879:1986//ENTITIES Added Math Symbols: Relations//EN">
          %ISOamsr;
  -->
<!--
<!ENTITY % ISOamsr SYSTEM "iso-amsr.gml">
          %ISOamsr;
  -->

<!--
<!ENTITY % ISObox  PUBLIC "ISO 8879:1986//ENTITIES Box and Line Drawing//EN">
          %ISObox;
  -->
<!--
<!ENTITY % ISObox  SYSTEM "iso-box.gml">
          %ISObox;
  -->

<!--
<!ENTITY % ISOcyr1 PUBLIC "ISO 8879:1986//ENTITIES Russian Cyrillic//EN">
          %ISOcyr1;
  -->
<!--
<!ENTITY % ISOcyr1 SYSTEM "iso-cyr1.gml">
          %ISOcyr1;
  -->

<!--
<!ENTITY % ISOcyr2 PUBLIC "ISO 8879:1986//ENTITIES Non-Russian Cyrillic//EN">
          %ISOcyr2;
  -->
<!--
<!ENTITY % ISOcyr2 SYSTEM "iso-cyr2.gml">
          %ISOcyr2;
  -->

<!--
<!ENTITY % ISOdia  PUBLIC "ISO 8879:1986//ENTITIES Diacritical Marks//EN">
          %ISOdia;
  -->
<!--
<!ENTITY % ISOdia  SYSTEM "iso-dia.gml">
          %ISOdia;
  -->

<!--
<!ENTITY % ISOgrk1 PUBLIC "ISO 8879:1986//ENTITIES Greek Letters//EN">
          %ISOgrk1;
  -->
<!--
<!ENTITY % ISOgrk1 SYSTEM "iso-grk1.gml">
          %ISOgrk1;
  -->

<!--
<!ENTITY % ISOgrk2 PUBLIC "ISO 8879:1986//ENTITIES Monotoniko Greek//EN">
          %ISOgrk2;
  -->
<!--
<!ENTITY % ISOgrk2 SYSTEM "iso-grk2.gml">
          %ISOgrk2;
  -->

<!--
<!ENTITY % ISOgrk3 PUBLIC "ISO 8879:1986//ENTITIES Greek Symbols//EN">
          %ISOgrk3;
  -->
<!--
<!ENTITY % ISOgrk3 SYSTEM "iso-grk3.gml">
          %ISOgrk3;
  -->

<!--
<!ENTITY % ISOlat1 PUBLIC "ISO 8879:1986//ENTITIES Added Latin 1//EN">
          %ISOlat1;
  -->
<!--
<!ENTITY % ISOlat1 SYSTEM "iso-lat1.gml">
          %ISOlat1;
  -->

<!--
<!ENTITY % ISOlat2 PUBLIC "ISO 8879:1986//ENTITIES Added Latin 2//EN">
          %ISOlat2;
  -->
<!--
<!ENTITY % ISOlat2 SYSTEM "iso-lat2.gml">
          %ISOlat2;
  -->

<!--
<!ENTITY % ISOnum  PUBLIC "ISO 8879:1986//ENTITIES Numeric and Special Graphic//EN">
          %ISOnum;
  -->
<!--
<!ENTITY % ISOnum  SYSTEM "iso-num.gml">
          %ISOnum;
  -->

<!--
<!ENTITY % ISOpub  PUBLIC "ISO 8879:1986//ENTITIES Publishing//EN">
          %ISOpub;
  -->
<!--
<!ENTITY % ISOpub  SYSTEM "iso-pub.gml">
          %ISOpub;
  -->

<!--
<!ENTITY % ISOtech PUBLIC "ISO 8879:1986//ENTITIES General Technical//EN">
          %ISOtech;
  -->
<!--
<!ENTITY % ISOtech SYSTEM "iso-tech.gml">
          %ISOtech;
  -->

<!--    Parameter Entities  -->
<!--      These are reuseable groups of entities and elements, collected to make 
          revision, augmentation, and maintenance of this DTD easier.   -->

<!--   Book Components  -->
<!ENTITY % bookcomponent.gp "((Preface)|(TitlePage)|(ToC)|(LoT)|(Chapter)|(Appendix)|(Bibliography)|(Glossary)|(Index)|(Reference))" >

<!--   Contents that can appear almost anywhere  -->
<!ENTITY % basechar.gp "((#PCDATA)|(VarParam)|(Anchor))" >

<!--   Contents that can appear in most contexts, in-line -->
<!ENTITY % inlinechar.gp "(((%basechar.gp;))|(FootnoteRef)|(Command)|(Filename)|(Flag)|(Function)|(Application)|(Hardware)|(Interface)|(CiteBook)|(CiteChap)|(CiteSect)|(FirstTerm)|(GlossaryTerm)|(IndexTerm)|(ComputerOutput)|(UserInput)|(Subscript)|(Superscript)|(Quote)|(Citation)|(Footnote)|(Link)|(XRef)|(Emphasis)|(OopsChar)|(wordasword)|(systemitem))" >

<!--   Contents for the element VarParam  -->
<!ENTITY % varparam.content.gp "((#PCDATA)|(Superscript)|(Subscript))" >

<!--   Contents for citations of Titles  -->
<!ENTITY % cite.title.content.gp "((#PCDATA)|(Command)|(Filename)|(Flag)|(Function)|(Application)|(Hardware)|(Interface)|(UserInput)|(ComputerOutput)|(Footnote)|(Subscript)|(Superscript))" >

<!--   Contents for the element GlossaryTerm  -->
<!ENTITY % glossterm.content.gp "((#PCDATA)|(Command)|(Filename)|(Function)|(Application)|(Hardware)|(Interface))" >

<!--   Contents for the element UserInput  -->
<!ENTITY % uicontent.gp "(((%basechar.gp;))|(Command)|(Filename)|(Flag)|(Function)|(Application)|(Hardware)|(Interface)|(OopsChar))" >

<!--   Contents for the elements Subscript and Superscript  -->
<!ENTITY % script.content.gp "((#PCDATA)|(VarParam))" >

<!--   Contents for the element Quote -->
<!ENTITY % quote.content.gp "(((%basechar.gp;))|(FootnoteRef)|(Command)|(Filename)|(Flag)|(Function)|(Application)|(Hardware)|(Interface)|(CiteBook)|(CiteChap)|(CiteSect)|(GlossaryTerm)|(IndexTerm)|(UserInput)|(ComputerOutput)|(Subscript)|(Superscript)|(Footnote)|(Citation)|(XRef)|(Emphasis)|(OopsChar))" >

<!--   Contents for other parameter entities.  
            These are all the varieties of lists.  -->
<!ENTITY % list.gp "((ItemizedList)|(OrderedList)|(VariableList)|(AdmonitionList))" >

<!--   More elements for other parameter entities   --> 
<!ENTITY % literallayout.gp "((Example)|(LiteralLayout)|(Screen))" >

<!--   More elements for other parameter entities   -->
<!ENTITY % object.gp "((Graphic)|(Equation)|(Table)|(Admonition)|(BlockQuote)|((%literallayout.gp;)))" >

<!--   More elements for other parameter entities   -->
<!ENTITY % component.gp "((Anchor)|(Para)|(Highlights)|(Epigraph)|((%list.gp;))|((%object.gp;))|(Oops)|(Comment)|(Figure)|(IndexTerm)|(Sidebar))" >

<!--   Contents for the elements Para and BlockQuote  -->
<!ENTITY % paracontent.gp "(((%inlinechar.gp;))|(Comment)|(Graphic)|(Equation))" >

<!--   Contents for the element Example  -->
<!ENTITY % examplecontent.gp "(Screen|LiteralLayout|ProgramListing)" >

<!--   Contents for the element ListItem  -->
<!ENTITY % listcontent.gp "((Para)|((%list.gp;))|(Figure)|((%object.gp;))|(Oops)|(Comment))" >

<!--   Contents for the element Admonition  -->
<!ENTITY % admoncontent.gp "((Para)|((%list.gp;))|((%object.gp;))|(Oops)|(Comment)|(IndexTerm))" >

<!--   Elements comprising the body of a Table  -->
<!ENTITY % tablecontent.gp "(TableSpec?, TableColHead*, TableRow+)" >

<!--   Contents for the elements ProgramListing, LiteralLayout, Screen, and RefSynopsisblock -->
<!ENTITY % literalcontent.gp "(((%inlinechar.gp;))|(Comment))" >

<!--   Contents for the element Oops  -->
<!ENTITY % oopscontent.gp "(((%inlinechar.gp;))|(Para)|((%list.gp;))|(Figure)|((%object.gp;))|(Comment))" >

<!--   Contents for the element Figure  -->
<!ENTITY % figurecontent.gp "(((%object.gp;))|(Oops)|(Comment)|(IndexTerm))" >

<!--   Contents for the element Sidebar  -->
<!ENTITY % Sbcontent.gp "((Para)|((%list.gp;))|((%object.gp;)))" >

<!--   Contents for the element Link  -->
<!ENTITY % linkcontent.gp "(((%basechar.gp;))|(CiteBook)|(CiteChap)|(CiteSect)|(Command)|(Filename)|(Flag)|(Function)|(Application)|(Hardware)|(Interface)|(OopsChar)|(Subscript)|(Superscript))" >

<!--   The headX.gp parameter entities handle nesting of heads.  -->
<!ENTITY % head1.gp "(((%component.gp;)+, (Head1|RefEntry)*)|(Head1|RefEntry)+)" >

<!ENTITY % head2.gp "(((%component.gp;)+, Head2*)|(Head2+))" >

<!ENTITY % head3.gp "(((%component.gp;)+, Head3*)|(Head3+))" >

<!ENTITY % head4.gp "(((%component.gp;)+, Head4*)|(Head4+))" >

<!ENTITY % head5.gp "(((%component.gp;)+, Head5*)|(Head5+))" >

<!--   Contents for the element IndexEntry  -->
<!ENTITY % indexcontent.gp "(((%basechar.gp;))|(Command)|(Filename)|(Flag)|(Function)|(Application)|(Hardware)|(Interface)|(CiteBook)|(CiteChap)|(CiteSect)|(OopsChar)|(Emphasis)|(ComputerOutput))" >

<!--   Contents for the element TitlePage  -->
<!ENTITY % titlepagecontent.gp "((Author)|(Date)|(Copyright)|(ISBN)|(LegalNotice)|(RevHistory)|(TitleBook)|(Editor)|(Edition)|(PrintHistory)|(Publisher)|(Series))" >

<!--   Two parameter entities for the element IndexTerm, handling nesting  -->
<!ENTITY % Secondarynest "((Tertiary)|(See)|(SeeAlso))" >

<!ENTITY % Primarynest "((Secondary, (%Secondarynest;)?)|(See)|(SeeAlso))" >

<!--   A parameter entity for the next parameter entity  -->
<!ENTITY % refname.gp "(RefDescriptor?, RefName+, RefPurpose)" >

<!--   Contents for the element RefNameDiv  -->
<!ENTITY % refnamediv.content.gp "(((%refname.gp;))|(Comment)|(IndexTerm))" >

<!--   Contents for some elements in RefEntry  -->
<!ENTITY % refname.content.gp "(((%basechar.gp;))|(Command)|(Filename)|(Function)|(Application)|(Hardware)|(Interface)|(OopsChar))" >

<!--   Contents for the element RefHead1  -->
<!ENTITY % refdivbody.gp "(((%component.gp;)+, RefHead2*)|(RefHead2+))" >



<!--     Document Structure       -->

<!--   Base element  -->
<!ELEMENT DocBook	- -  (Comment*, (%bookcomponent.gp;)+)>

<!--   Most of the book component elements  -->
<!ELEMENT TitlePage	- -  ((%titlepagecontent.gp;)+)>
        <!ATTLIST TitlePage     id  ID  #IMPLIED>

<!ELEMENT Chapter	- -  (Title, TitleAbbrev?, (%head1.gp;))>
        <!ATTLIST Chapter     id        ID #IMPLIED
                  Number   CDATA #IMPLIED>

<!ELEMENT Preface	- -  (Title, TitleAbbrev?, (%head1.gp;))>
        <!ATTLIST Preface       id  ID  #IMPLIED>

<!ELEMENT ToC	- -  (Title, TitleAbbrev?, ToCentry1+)>
        <!ATTLIST ToC    id  ID  #IMPLIED>

<!ELEMENT LoT	- -  (Title, TitleAbbrev?, LoTentry+)>
        <!ATTLIST LoT   id  ID  #IMPLIED>

<!ELEMENT Appendix	- -  (Title, TitleAbbrev?, (%head1.gp;))>
        <!ATTLIST Appendix      id  ID #IMPLIED
                  Number   CDATA     #IMPLIED>

<!ELEMENT Bibliography	- -  (Title, TitleAbbrev?, (%head1.gp;))>
        <!ATTLIST Bibliography  id ID #IMPLIED>

<!ELEMENT Glossary	- -  (Title, TitleAbbrev?, GlossaryEntry+)>
        <!ATTLIST Glossary      id ID #IMPLIED>

<!ELEMENT Index	- -  (Para*, IndexEntry+)>
        <!ATTLIST Index   id  ID #IMPLIED>

<!ELEMENT Reference	- -  (Title, TitleAbbrev?, RefEntry+)>
        <!ATTLIST Reference id  ID  #IMPLIED>

<!--   Most of the in-line elements -->
<!ELEMENT Comment	- -  ((%inlinechar.gp;)+)>

<!ELEMENT VarParam	- -  ((%varparam.content.gp;)+)>

<!ELEMENT Anchor	- O  EMPTY>
	<!ATTLIST Anchor	id      ID #IMPLIED>

<!ELEMENT Command	- -  ((%basechar.gp;)+)>
        <!ATTLIST Command  RefEntry  (Yes|No)  No >

<!ELEMENT Filename	- -  ((%basechar.gp;)+)>
        <!ATTLIST Filename  RefEntry  (Yes|No)  No >

<!ELEMENT Flag	- -  ((%basechar.gp;)+)>

<!ELEMENT Application	- -  ((%basechar.gp;)+)>
        <!ATTLIST Application RefEntry  (Yes|No)  No >

<!ELEMENT Function	- -  ((%basechar.gp;)+)>
        <!ATTLIST Function  RefEntry  (Yes|No)  No >

<!ELEMENT Hardware	- -  ((%basechar.gp;)+)>

<!ELEMENT Interface	- -  ((%basechar.gp;)+)>

<!ELEMENT CiteBook	- -  ((%cite.title.content.gp;)+)>

<!ELEMENT CiteChap	- -  ((%cite.title.content.gp;)+)>

<!ELEMENT CiteSect	- -  ((%cite.title.content.gp;)+)>

<!ELEMENT FirstTerm	- -  (#PCDATA)>

<!ELEMENT GlossaryTerm	- -  ((%glossterm.content.gp;)+)>

<!ELEMENT ComputerOutput	- -  ((%basechar.gp;)+)>

<!ELEMENT UserInput	- -  ((%uicontent.gp;)+)>

<!ELEMENT Subscript	- -  ((%script.content.gp;)+)>

<!ELEMENT Superscript	- -  ((%script.content.gp;)+)>

<!ELEMENT Quote	- -  ((%quote.content.gp;)+)>

<!ELEMENT Citation	- -  (#PCDATA)>

<!ELEMENT Emphasis	- -  (#PCDATA)>

<!ELEMENT OopsChar	- -  ((%inlinechar.gp;)+)>

<!ELEMENT WordAsWord	- -  (#PCDATA)>

<!ELEMENT SystemItem	- -  ((%basechar.gp;)+)>

<!ELEMENT Link	- -  ((%linkcontent.gp;)+)>
        <!ATTLIST Link  Target  IDREF   #IMPLIED
                Type    CDATA   #IMPLIED>

<!ELEMENT FootnoteRef	- O EMPTY>
        <!ATTLIST FootnoteRef   Target  IDREF   #IMPLIED
                                Mark    CDATA   #IMPLIED>

<!ELEMENT XRef	- O (#PCDATA)>
        <!ATTLIST XRef  Target  IDREF   #CONREF
                Type    (Figure|Example|Table|Footnote|Chapter|Section|Sidebar)   #IMPLIED>

<!--   Contents for indexing terms in the text (not in the Index)  -->
<!ELEMENT IndexTerm	- -  (Primary, (%Primarynest;)?)>
	<!ATTLIST IndexTerm    id	ID #IMPLIED
		        Span   (Start|End) #IMPLIED
                        Pagenum   CDATA  #IMPLIED>

<!ELEMENT Primary	- -  ((%indexcontent.gp;))>

<!ELEMENT Secondary	- -  ((%indexcontent.gp;))>

<!ELEMENT Tertiary	- -  ((%indexcontent.gp;))>

<!ELEMENT See	- -  ((%indexcontent.gp;))>

<!ELEMENT SeeAlso	- -  ((%indexcontent.gp;))>

<!--   Parts of a book component, sort of like objects, with some of the
             elements that belong to them specifically  -->
<!ELEMENT Head1	- -  (Title, TitleAbbrev?, (%head2.gp;))>
        <!ATTLIST (Head1|Head2|Head3|Head4|Head5)
                      id        ID #IMPLIED
                       Number   CDATA     #IMPLIED>

<!ELEMENT Head2	- -  (Title, TitleAbbrev?, (%head3.gp;))>

<!ELEMENT Head3	- -  (Title, TitleAbbrev?, (%head4.gp;))>

<!ELEMENT Head4	- -  (Title, TitleAbbrev?, (%head5.gp;))>

<!ELEMENT Head5	- -  (Title, TitleAbbrev?, (%component.gp;)+)>

<!ELEMENT Footnote	- -  ((%component.gp;)+)>
	<!ATTLIST Footnote  id	ID #IMPLIED>

<!ELEMENT Epigraph	- -  ((Para)+)>

<!ELEMENT Para	- -  ((%paracontent.gp;)+)>

<!ELEMENT Highlights	- -  (((%list.gp;)|Para|(Admonition))+)>
	<!ATTLIST Highlights	id	ID #IMPLIED>

<!ELEMENT Graphic	- -  RCDATA>
	<!ATTLIST Graphic id   ID #IMPLIED
		Type	(GIF|TIFF|DVI|EPS|tbl|Tex|bitmap) GIF >

<!ELEMENT ItemizedList	- -  (ListItem+)>
	<!ATTLIST  ItemizedList	Mark    CDATA   #IMPLIED>

<!ELEMENT ListItem	- -  ((%listcontent.gp;)+)>

<!ELEMENT OrderedList	- -  (ListItem+)>
        <!ATTLIST  OrderedList	Numeration	(Arabic|Upperalpha|Loweralpha|Upperroman|Lowerroman) Arabic
		Continuation  (Yes|No)  No >

<!ELEMENT VariableList	- -  ((Term+, ListItem)+)>

<!ELEMENT Term	- -  ((%inlinechar.gp;)+)>

<!ELEMENT AdmonitionList	- -  (ListItem+)>
        <!ATTLIST AdmonitionList	Heading CDATA  #IMPLIED>

<!ELEMENT Admonition	- -  ((%admoncontent.gp;)+)>
	<!ATTLIST Admonition	Heading	CDATA  #IMPLIED>

<!ELEMENT Equation	- -  (Title?, TitleAbbrev?, Graphic)>
	<!ATTLIST Equation	id	ID #IMPLIED>

<!ELEMENT Title	- -  ((%inlinechar.gp;)+)>
	<!ATTLIST Title	id	ID #IMPLIED
                  Pagenum   CDATA  #IMPLIED>

<!ELEMENT TitleAbbrev	- -  ((%inlinechar.gp;)+)>

<!ELEMENT BlockQuote	- -  ((%paracontent.gp;)+)>

<!ELEMENT Example	- -  (Title?, TitleAbbrev?, (%examplecontent.gp;))>
	<!ATTLIST Example	id  ID  #IMPLIED>

<!ELEMENT ProgramListing	- -  ((%literalcontent.gp;)+)>

<!ELEMENT LiteralLayout	- -  ((%literalcontent.gp;)+)>

<!ELEMENT Screen	- -  (((%literalcontent.gp;)+) | (ScreenInfo, Graphic))>
	<!ATTLIST Screen	id  ID  #IMPLIED>

<!ELEMENT ScreenInfo	- -  (#PCDATA)>

<!ELEMENT Oops	- -  ((%oopscontent.gp;)+)>

<!ELEMENT Figure	- -  (Title, TitleAbbrev?, ((%figurecontent.gp;)+)*)> 
	<!ATTLIST Figure 	id 	ID	#IMPLIED
                        Height  CDATA  #IMPLIED
			Width   CDATA  #IMPLIED
			Align   (l|c|r) l
			Float	(YES|NO) NO >

<!ELEMENT Sidebar	- -  (Title, TitleAbbrev?, (%Sbcontent.gp;)+)>
	<!ATTLIST Sidebar	id   ID   #IMPLIED>

<!--   Table elements, provisional  -->
<!ELEMENT Table	- -  (Title?, TitleAbbrev?, Graphic?, (%tablecontent.gp;))>
        <!ATTLIST Table         id       ID  #IMPLIED>

<!ELEMENT TableSpec	- -  (%inlinechar.gp;)>

<!ELEMENT TableColHead	- -  (TableCell+)>

<!ELEMENT TableCell	- -  ((%inlinechar.gp;)+)>

<!ELEMENT TableRow	- -  (TableCell+)>

<!ELEMENT GlossaryEntry	- -  (#PCDATA)>

<!ELEMENT IndexEntry	- -  ((%indexcontent.gp;)*)>
	<!ATTLIST IndexEntry   id  IDREFS #IMPLIED>

<!ELEMENT LoTentry	- -  ((%inlinechar.gp;)+ )>
        <!ATTLIST LoTentry	Pagenum   CDATA #IMPLIED>

<!--   Title Page elements -->
<!ELEMENT Author	- -  (Firstname+, Surname?)>

<!ELEMENT Firstname	- -  (#PCDATA)>

<!ELEMENT Surname	- -  (#PCDATA)>

<!ELEMENT Date	- -  (#PCDATA)>

<!ELEMENT Copyright	- -  (Year+, Holder*)>

<!ELEMENT Year	- -  (#PCDATA)>

<!ELEMENT Holder	- -  (#PCDATA)>

<!ELEMENT ISBN	- -  (#PCDATA)>

<!ELEMENT LegalNotice	- -  (Para+)>

<!ELEMENT RevHistory	- -  (Revision*)>

<!ELEMENT Revision	- -  (RevNumber, Date, AuthorInitials+, RevRemark)>

<!ELEMENT RevNumber	- -  (#PCDATA)>

<!ELEMENT AuthorInitials	- -  (#PCDATA)>

<!ELEMENT RevRemark	- -  (#PCDATA)>

<!ELEMENT TitleBook	- -  (Title, Subtitle?, TitleAbbrev?, ReleaseInfo?, BookAcronym?)>

<!ELEMENT Subtitle	- -  (#PCDATA)>

<!ELEMENT ReleaseInfo	- -  (#PCDATA)>

<!ELEMENT BookAcronym	- -  (#PCDATA)>

<!ELEMENT Editor	- -  (Firstname+, Surname?)>

<!ELEMENT Edition	- -  (#PCDATA)>

<!ELEMENT PrintHistory	- -  (Para+)>

<!ELEMENT Publisher	- -  (#PCDATA)>

<!ELEMENT Series	- -  (#PCDATA)>

<!--   Contents for Tables of Contents  -->
<!ELEMENT ToCentry1	- -  ((%inlinechar.gp;)+, ToCentry2*)>
        <!ATTLIST   ToCentry1     Pagenum  CDATA     #IMPLIED>

<!ELEMENT ToCentry2	- -  ((%inlinechar.gp;)+, ToCentry3*)>
        <!ATTLIST   ToCentry2     Pagenum  CDATA     #IMPLIED>

<!ELEMENT ToCentry3	- -  ((%inlinechar.gp;)+, ToCentry4*)>
        <!ATTLIST   ToCentry3     Pagenum  CDATA     #IMPLIED>

<!ELEMENT ToCentry4	- -  ((%inlinechar.gp;)+, ToCentry5*)>
        <!ATTLIST   ToCentry4     Pagenum  CDATA     #IMPLIED>

<!ELEMENT ToCentry5	- -  ((%inlinechar.gp;)+)> 
        <!ATTLIST   ToCentry5     Pagenum  CDATA     #IMPLIED>

<!--   All the elements for reference entries -->
<!ELEMENT RefEntry	- -  (Comment*, RefMeta, Comment*, RefNameDiv, RefSynopsis?, RefHead1+)>
        <!ATTLIST RefEntry       id      ID #IMPLIED>

<!ELEMENT RefMeta	- -  (RefFileName, RefSection, RefMiscInfo*)>
        <!ATTLIST RefMeta	id      ID #IMPLIED>

<!ELEMENT RefFileName	- -  (#PCDATA)>

<!ELEMENT RefSection	- -  (#PCDATA)>

<!ELEMENT RefMiscInfo	- -  (#PCDATA)>

<!ELEMENT RefNameDiv	- -  ((%refnamediv.content.gp;)+)>
        <!ATTLIST RefNameDiv    id      ID #IMPLIED>

<!ELEMENT RefDescriptor	- -  ((%refname.content.gp;)+)>

<!ELEMENT RefName	- -  ((%refname.content.gp;)+)>

<!ELEMENT RefPurpose	- -  ((%inlinechar.gp;)+)>

<!ELEMENT RefSynopsis	- -  ((RefSynopsisblock, RefHead2*)|(RefHead2+))>
        <!ATTLIST RefSynopsis   id      ID #IMPLIED
                Name  (Synopsis|Syntax)  Synopsis >

<!ELEMENT RefSynopsisblock	- -  ((%literalcontent.gp;)+)>

<!ELEMENT RefHead1	- -  (Title, (%refdivbody.gp;))>
        <!ATTLIST RefHead1      id       ID #IMPLIED>

<!ELEMENT RefHead2	- -  (Title, (%component.gp;)+)>
        <!ATTLIST RefHead2      id       ID #IMPLIED>


]>

