schema/relaxng/calstbl.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:rng="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:s="http://www.ascc.net/xml/schematron"
         xmlns:doc="http://nwalsh.com/xmlns/documentation"
         xmlns:db="http://nwalsh.com/xmlns/docbook-grammar-structure"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<rng:div doc:docbook="yes" xmlns="">
<partinfo>
<releaseinfo
   role="cvs">$Id$</releaseinfo>
<title>DocBook CALS Table Model</title>
<productname>DocBook</productname>
<productnumber>4.2</productnumber>
<releaseinfo role="filename">calstbl</releaseinfo>
<copyright>
<year>1992</year>
<year>1993</year>
<year>1994</year>
<year>1995</year>
<year>1996</year>
<year>1997</year>
<year>1998</year>
<year>1999</year>
<year>2000</year>
<year>2001</year>
<year>2002</year>
<holder>HaL Computer Systems, Inc.</holder>
<holder>O'Reilly &amp; Associates, Inc.</holder>
<holder>ArborText, Inc.</holder>
<holder>Fujitsu Software Corporation</holder>
<holder>Norman Walsh</holder>
<holder>Sun Microsystems, Inc.</holder>
<holder>OASIS Open, Inc.</holder>
</copyright>

<legalnotice>
<para>This DTD is based on the CALS Table Model
("-//USA-DOD//DTD Table Model 951010//EN").</para>

<para>Permission to use, copy, modify and distribute the DocBook DTD
and its accompanying documentation for any purpose and without fee
is hereby granted in perpetuity, provided that the above copyright
notice and this paragraph appear in all copies.  The copyright
holders make no representation about the suitability of the DTD for
any purpose.  It is provided "as is" without expressed or implied
warranty.</para>

<para>If you modify the DocBook DTD in any way, except for declaring and
referencing additional sets of general entities and declaring
additional notations, label your DTD as a variant of DocBook.  See
the maintenance documentation for more information.</para>

<para>Please direct all questions, bug reports, or suggestions for
changes to the docbook@lists.oasis-open.org mailing list. For more
information, see http://www.oasis-open.org/docbook/.</para>
</legalnotice>
</partinfo>
</rng:div>

<!-- ...................................................................... -->
<!-- This module contains the definitions for the CALS Table Model
     converted to XML.
-->
<!-- These definitions are not directly related to the table model, but are
     used in the default CALS table model and are usually defined elsewhere
     (and prior to the inclusion of this table module) in a CALS DTD. -->
<!-- no if zero(s),
                                yes if any other digits value -->
  <define name="yesorno">
    <data type="string"/>
  </define>
  <define name="titles">
    <optional>
      <ref name="title"/>
    </optional>
  </define>
<!-- default for use in entry content -->
<!--
The parameter entities as defined below provide the CALS table model
as published (as part of the Example DTD) in MIL-HDBK-28001.

These following declarations provide the CALS-compliant default definitions
for these entities.  However, these entities can and should be redefined
(by giving the appropriate parameter entity declaration(s) prior to the
reference to this Table Model declaration set entity) to fit the needs
of the current application.
-->
  <define name="tbl.table-titles.mdl">
    <ref name="titles"/>
  </define>
  <define name="tbl.table-main.mdl">
    <choice>
      <oneOrMore>
        <ref name="tgroup"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="graphic"/>
      </oneOrMore>
    </choice>
  </define>
  <define name="tbl.table.att">
    <optional>
      <attribute name="tabstyle"/>
    </optional>
    <optional>
      <attribute name="tocentry">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="shortentry">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="orient">
        <choice>
          <value>port</value>
          <value>land</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="pgwide">
        <ref name="yesorno"/>
      </attribute>
    </optional>
  </define>
  <define name="tbl.tgroup.mdl">
    <zeroOrMore>
      <ref name="colspec"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="spanspec"/>
    </zeroOrMore>
    <optional>
      <ref name="thead"/>
    </optional>
    <optional>
      <ref name="tfoot"/>
    </optional>
    <ref name="tbody"/>
  </define>
  <define name="tbl.tgroup.att">
    <optional>
      <attribute name="tgroupstyle"/>
    </optional>
  </define>
  <define name="tbl.hdft.mdl">
    <zeroOrMore>
      <ref name="colspec"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="row"/>
    </oneOrMore>
  </define>
  <define name="tbl.row.mdl">
    <oneOrMore>
      <choice>
        <ref name="entry"/>
        <ref name="entrytbl"/>
      </choice>
    </oneOrMore>
  </define>
  <define name="tbl.entrytbl.mdl">
    <zeroOrMore>
      <ref name="colspec"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="spanspec"/>
    </zeroOrMore>
    <optional>
      <ref name="thead"/>
    </optional>
    <ref name="tbody"/>
  </define>
<!-- =====  Element and attribute declarations follow. =====  -->
  <define name="table">
    <element name="table">
      <ref name="table.attlist"/>
      <ref name="tbl.table.mdl"/>
      <s:assert test="count(.//equation/title) = 0">&lt;table&gt; contains &lt;equation&gt;</s:assert>
      <s:assert test="count(.//example) = 0">&lt;table&gt; contains &lt;example&gt;</s:assert>
      <s:assert test="count(.//figure) = 0">&lt;table&gt; contains &lt;figure&gt;</s:assert>
      <s:assert test="count(.//table) = 0">&lt;table&gt; contains &lt;table&gt;</s:assert>
    </element>
  </define>
  <define name="table.attlist" combine="interleave">
    <optional>
      <attribute name="frame">
        <choice>
          <value>top</value>
          <value>bottom</value>
          <value>topbot</value>
          <value>all</value>
          <value>sides</value>
          <value>none</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <ref name="tbl.table.att"/>
    <ref name="bodyatt"/>
    <ref name="secur"/>
  </define>
  <define name="tgroup">
    <element name="tgroup">
      <ref name="tgroup.attlist"/>
      <ref name="tbl.tgroup.mdl"/>
    </element>
  </define>
  <define name="tgroup.attlist" combine="interleave">
    <attribute name="cols"/>
    <ref name="tbl.tgroup.att"/>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>justify</value>
          <value>char</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="char"/>
    </optional>
    <optional>
      <attribute name="charoff"/>
    </optional>
    <ref name="secur"/>
  </define>
  <define name="colspec">
    <element name="colspec">
      <ref name="colspec.attlist"/>
      <empty/>
    </element>
  </define>
  <define name="colspec.attlist" combine="interleave">
    <optional>
      <attribute name="colnum"/>
    </optional>
    <optional>
      <attribute name="colname"/>
    </optional>
    <optional>
      <attribute name="colwidth"/>
    </optional>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>justify</value>
          <value>char</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="char"/>
    </optional>
    <optional>
      <attribute name="charoff"/>
    </optional>
  </define>
  <define name="spanspec">
    <element name="spanspec">
      <ref name="spanspec.attlist"/>
      <empty/>
    </element>
  </define>
  <define name="spanspec.attlist" combine="interleave">
    <attribute name="namest"/>
    <attribute name="nameend"/>
    <attribute name="spanname"/>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>justify</value>
          <value>char</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="char"/>
    </optional>
    <optional>
      <attribute name="charoff"/>
    </optional>
  </define>
  <define name="thead">
    <element name="thead">
      <ref name="thead.attlist"/>
      <ref name="tbl.hdft.mdl"/>
    </element>
  </define>
  <define name="thead.attlist" combine="interleave">
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <ref name="secur"/>
  </define>
  <define name="tfoot">
    <element name="tfoot">
      <ref name="tfoot.attlist"/>
      <ref name="tbl.hdft.mdl"/>
    </element>
  </define>
  <define name="tfoot.attlist" combine="interleave">
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <ref name="secur"/>
  </define>
  <define name="tbody">
    <element name="tbody">
      <ref name="tbody.attlist"/>
      <oneOrMore>
        <ref name="row"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tbody.attlist" combine="interleave">
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <ref name="secur"/>
  </define>
  <define name="row">
    <element name="row">
      <ref name="row.attlist"/>
      <ref name="tbl.row.mdl"/>
    </element>
  </define>
  <define name="row.attlist" combine="interleave">
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <ref name="secur"/>
  </define>
  <define name="entrytbl">
    <element name="entrytbl">
      <ref name="entrytbl.attlist"/>
      <ref name="tbl.entrytbl.mdl"/>
    </element>
  </define>
  <define name="entrytbl.attlist" combine="interleave">
    <attribute name="cols"/>
    <ref name="tbl.tgroup.att"/>
    <optional>
      <attribute name="colname"/>
    </optional>
    <optional>
      <attribute name="spanname"/>
    </optional>
    <optional>
      <attribute name="namest"/>
    </optional>
    <optional>
      <attribute name="nameend"/>
    </optional>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>justify</value>
          <value>char</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="char"/>
    </optional>
    <optional>
      <attribute name="charoff"/>
    </optional>
    <ref name="secur"/>
  </define>
  <define name="entry">
    <element name="entry">
      <ref name="entry.attlist"/>
      <zeroOrMore>
        <ref name="tbl.entry.mdl"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="entry.attlist" combine="interleave">
    <optional>
      <attribute name="colname"/>
    </optional>
    <optional>
      <attribute name="namest"/>
    </optional>
    <optional>
      <attribute name="nameend"/>
    </optional>
    <optional>
      <attribute name="spanname"/>
    </optional>
    <optional>
      <attribute name="morerows"/>
    </optional>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>justify</value>
          <value>char</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="char"/>
    </optional>
    <optional>
      <attribute name="charoff"/>
    </optional>
    <optional>
      <attribute name="rotate">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <ref name="secur"/>
  </define>
<!-- End of DocBook CALS Table Model V4.2 ................................. -->
<!-- ...................................................................... -->
</grammar>
