schema/relaxng/dbhier.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:rng="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:s="http://www.ascc.net/xml/schematron"
         xmlns:doc="http://nwalsh.com/xmlns/documentation"
         xmlns:db="http://nwalsh.com/xmlns/docbook-grammar-structure"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<rng:div doc:docbook="yes" xmlns="">
<partinfo>
<releaseinfo
   role="cvs">$Id$</releaseinfo>
<title>DocBook Document Hierarchy</title>
<productname>DocBook</productname>
<productnumber>4.2</productnumber>
<releaseinfo role="filename">dbhier</releaseinfo>
<copyright>
<year>1992</year>
<year>1993</year>
<year>1994</year>
<year>1995</year>
<year>1996</year>
<year>1997</year>
<year>1998</year>
<year>1999</year>
<year>2000</year>
<year>2001</year>
<year>2002</year>
<holder>HaL Computer Systems, Inc.</holder>
<holder>O'Reilly &amp; Associates, Inc.</holder>
<holder>ArborText, Inc.</holder>
<holder>Fujitsu Software Corporation</holder>
<holder>Norman Walsh</holder>
<holder>Sun Microsystems, Inc.</holder>
<holder>OASIS Open, Inc.</holder>
</copyright>

<legalnotice>
<para>Permission to use, copy, modify and distribute the DocBook schema
and its accompanying documentation for any purpose and without fee
is hereby granted in perpetuity, provided that the above copyright
notice and this paragraph appear in all copies. The copyright
holders make no representation about the suitability of the schema for
any purpose. It is provided <quote>as is</quote> without expressed or implied
warranty.</para>

<para>If you modify the DocBook in any way, except for declaring and
referencing additional sets of general entities and declaring
additional notations, label your schema as a variant of DocBook. See
the maintenance documentation for more information.</para>

<para>Please direct all questions, bug reports, or suggestions for
changes to the <email>docbook@lists.oasis-open.org</email> mailing list. For more
information, see <ulink url="http://www.oasis-open.org/docbook/"/>.</para>
</legalnotice>
</partinfo>

<partintro>
<para>This module contains the definitions for the overall document
hierarchies of DocBook documents.  It covers computer documentation
manuals and manual fragments, as well as reference entries (such as
man pages) and technical journals or anthologies containing
articles.</para>

<para>This module depends on the DocBook information pool module.  All
elements and entities referenced but not defined here are assumed
to be defined in the information pool module.</para>

<para>When using this schema in driver files referring to the DTD
version of this module, please use an entity declaration that uses the
public identifier shown below:</para>

<screen><![CDATA[<!ENTITY % dbheir PUBLIC
"-//OASIS//ELEMENTS DocBook Document Hierarchy V4.2//EN"
"dbhier.mod">
%dbhier;]]></screen>

<para>See the documentation for detailed information on the parameter
entity and module scheme used in DocBook, customizing DocBook and
planning for interchange, and changes made since the last release
of DocBook.</para>
</partintro>
</rng:div>

  <define name="local.appendix.class">
    <notAllowed/>
  </define>
  <define name="appendix.class">
    <choice>
      <ref name="appendix"/>
      <ref name="local.appendix.class"/>
    </choice>
  </define>
  <define name="local.article.class">
    <notAllowed/>
  </define>
  <define name="article.class">
    <choice>
      <ref name="article"/>
      <ref name="local.article.class"/>
    </choice>
  </define>
  <define name="local.book.class">
    <notAllowed/>
  </define>
  <define name="book.class">
    <choice>
      <ref name="book"/>
      <ref name="local.book.class"/>
    </choice>
  </define>
  <define name="local.chapter.class">
    <notAllowed/>
  </define>
  <define name="chapter.class">
    <choice>
      <ref name="chapter"/>
      <ref name="local.chapter.class"/>
    </choice>
  </define>
  <define name="local.index.class">
    <notAllowed/>
  </define>
  <define name="index.class">
    <choice>
      <ref name="index"/>
      <ref name="setindex"/>
      <ref name="local.index.class"/>
    </choice>
  </define>
  <define name="local.refentry.class">
    <notAllowed/>
  </define>
  <define name="refentry.class">
    <choice>
      <ref name="refentry"/>
      <ref name="local.refentry.class"/>
    </choice>
  </define>
  <define name="local.section.class">
    <notAllowed/>
  </define>
  <define name="section.class">
    <choice>
      <ref name="section"/>
      <ref name="local.section.class"/>
    </choice>
  </define>
  <define name="local.nav.class">
    <notAllowed/>
  </define>
  <define name="nav.class">
    <choice>
      <ref name="toc"/>
      <ref name="lot"/>
      <ref name="index"/>
      <ref name="glossary"/>
      <ref name="bibliography"/>
      <ref name="local.nav.class"/>
    </choice>
  </define>

<!-- Redeclaration placeholder ............................................ -->
<!-- For redeclaring entities that are declared after this point while
     retaining their references to the entities that are declared before
     this point -->
<!-- ...................................................................... -->
<!-- Entities for element mixtures ........................................ -->
<!-- The DocBook TC may produce an official forms module for DocBook. -->
<!-- This PE provides the hook by which it can be inserted into the DTD. -->

  <define name="forms.hook">
    <notAllowed/>
  </define>
  <define name="local.divcomponent.mix">
    <notAllowed/>
  </define>
  <define name="divcomponent.mix">
    <choice>
      <ref name="list.class"/>
      <ref name="admon.class"/>
      <ref name="linespecific.class"/>
      <ref name="synop.class"/>
      <ref name="para.class"/>
      <ref name="informal.class"/>
      <ref name="formal.class"/>
      <ref name="compound.class"/>
      <ref name="genobj.class"/>
      <ref name="descobj.class"/>
      <ref name="ndxterm.class"/>
      <ref name="beginpage"/>
      <ref name="forms.hook"/>
      <ref name="local.divcomponent.mix"/>
    </choice>
  </define>
  <define name="local.refcomponent.mix">
    <notAllowed/>
  </define>
  <define name="refcomponent.mix">
    <choice>
      <ref name="list.class"/>
      <ref name="admon.class"/>
      <ref name="linespecific.class"/>
      <ref name="synop.class"/>
      <ref name="para.class"/>
      <ref name="informal.class"/>
      <ref name="formal.class"/>
      <ref name="compound.class"/>
      <ref name="genobj.class"/>
      <ref name="descobj.class"/>
      <ref name="ndxterm.class"/>
      <ref name="beginpage"/>
      <ref name="local.refcomponent.mix"/>
    </choice>
  </define>
  <define name="local.indexdivcomponent.mix">
    <notAllowed/>
  </define>
  <define name="indexdivcomponent.mix">
    <choice>
      <ref name="itemizedlist"/>
      <ref name="orderedlist"/>
      <ref name="variablelist"/>
      <ref name="simplelist"/>
      <ref name="linespecific.class"/>
      <ref name="synop.class"/>
      <ref name="para.class"/>
      <ref name="informal.class"/>
      <ref name="anchor"/>
      <ref name="remark"/>
      <ref name="link.char.class"/>
      <ref name="beginpage"/>
      <ref name="local.indexdivcomponent.mix"/>
    </choice>
  </define>
  <define name="local.refname.char.mix">
    <notAllowed/>
  </define>
  <define name="refname.char.mix">
    <choice>
      <text/>
      <ref name="tech.char.class"/>
      <ref name="local.refname.char.mix"/>
    </choice>
  </define>
  <define name="local.partcontent.mix">
    <notAllowed/>
  </define>
  <define name="partcontent.mix">
    <choice>
      <ref name="appendix.class"/>
      <ref name="chapter.class"/>
      <ref name="nav.class"/>
      <ref name="article.class"/>
      <ref name="preface"/>
      <ref name="refentry.class"/>
      <ref name="reference"/>
      <ref name="local.partcontent.mix"/>
    </choice>
  </define>
  <define name="local.refinline.char.mix">
    <notAllowed/>
  </define>
  <define name="refinline.char.mix">
    <choice>
      <text/>
      <ref name="xref.char.class"/>
      <ref name="gen.char.class"/>
      <ref name="link.char.class"/>
      <ref name="tech.char.class"/>
      <ref name="base.char.class"/>
      <ref name="docinfo.char.class"/>
      <ref name="other.char.class"/>
      <ref name="ndxterm.class"/>
      <ref name="beginpage"/>
      <ref name="local.refinline.char.mix"/>
    </choice>
  </define>
  <define name="local.refclass.char.mix">
    <notAllowed/>
  </define>
  <define name="refclass.char.mix">
    <choice>
      <text/>
      <ref name="application"/>
      <ref name="local.refclass.char.mix"/>
    </choice>
  </define>

<!-- Redeclaration placeholder 2 .......................................... -->
<!-- For redeclaring entities that are declared after this point while
     retaining their references to the entities that are declared before
     this point -->
<!-- ...................................................................... -->
<!-- Entities for content models .......................................... -->

  <define name="div.title.content">
    <ref name="title"/>
    <optional>
      <ref name="subtitle"/>
    </optional>
    <optional>
      <ref name="titleabbrev"/>
    </optional>
  </define>
  <define name="bookcomponent.title.content">
    <ref name="title"/>
    <optional>
      <ref name="subtitle"/>
    </optional>
    <optional>
      <ref name="titleabbrev"/>
    </optional>
  </define>
  <define name="sect.title.content">
    <ref name="title"/>
    <optional>
      <ref name="subtitle"/>
    </optional>
    <optional>
      <ref name="titleabbrev"/>
    </optional>
  </define>
  <define name="refsect.title.content">
    <ref name="title"/>
    <optional>
      <ref name="subtitle"/>
    </optional>
    <optional>
      <ref name="titleabbrev"/>
    </optional>
  </define>
  <define name="bookcomponent.content">
    <choice>
      <group>
        <oneOrMore>
          <ref name="divcomponent.mix"/>
        </oneOrMore>
        <choice>
          <zeroOrMore>
            <ref name="sect1"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="refentry.class"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="simplesect"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="section.class"/>
          </zeroOrMore>
        </choice>
      </group>
      <oneOrMore>
        <ref name="sect1"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="refentry.class"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="simplesect"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="section.class"/>
      </oneOrMore>
    </choice>
  </define>

<!-- ...................................................................... -->
<!-- Set and SetInfo ...................................................... -->

  <div db:name="set.content.module">

    <div db:name="set.module">
      <define name="local.set.attrib">
        <empty/>
      </define>
      <define name="set.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="set">
        <define name="set">
          <element name="set">
            <ref name="set.attlist"/>
            <optional>
              <ref name="div.title.content"/>
            </optional>
            <optional>
              <ref name="setinfo"/>
            </optional>
            <optional>
              <ref name="toc"/>
            </optional>
            <oneOrMore>
              <ref name="book.class"/>
            </oneOrMore>
            <optional>
              <ref name="setindex"/>
            </optional>
          </element>
        </define>
      </div>

<!-- FPI: SGML formal public identifier -->

      <div db:name="set.attlist">
        <define name="set.attlist" combine="interleave">
          <optional>
            <attribute name="fpi"/>
          </optional>
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="set.role.attrib"/>
          <ref name="local.set.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="setinfo.module">
      <define name="local.setinfo.attrib">
        <empty/>
      </define>
      <define name="setinfo.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="setinfo">
        <define name="setinfo">
          <element name="setinfo">
            <ref name="setinfo.attlist"/>
            <oneOrMore>
              <ref name="info.class"/>
            </oneOrMore>
          </element>
        </define>
      </div>

<!-- Contents: IDs of the ToC, Books, and SetIndex that comprise
		the set, in the order of their appearance -->

      <div db:name="setinfo.attlist">
        <define name="setinfo.attlist" combine="interleave">
          <optional>
            <attribute name="contents">
              <data type="IDREFS"/>
            </attribute>
          </optional>
          <ref name="common.attrib"/>
          <ref name="setinfo.role.attrib"/>
          <ref name="local.setinfo.attrib"/>
        </define>
      </div>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Book and BookInfo .................................................... -->

  <div db:name="book.content.module">

    <div db:name="book.module">
      <define name="local.book.attrib">
        <empty/>
      </define>
      <define name="book.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="book">
        <define name="book">
          <element name="book">
            <ref name="book.attlist"/>
            <optional>
              <ref name="div.title.content"/>
            </optional>
            <optional>
              <ref name="bookinfo"/>
            </optional>
            <zeroOrMore>
              <choice>
                <ref name="dedication"/>
                <ref name="toc"/>
                <ref name="lot"/>
                <ref name="glossary"/>
                <ref name="bibliography"/>
                <ref name="preface"/>
                <ref name="chapter.class"/>
                <ref name="reference"/>
                <ref name="part"/>
                <ref name="article.class"/>
                <ref name="appendix.class"/>
                <ref name="index.class"/>
                <ref name="colophon"/>
              </choice>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- FPI: SGML formal public identifier -->

      <div db:name="book.attlist">
        <define name="book.attlist" combine="interleave">
          <optional>
            <attribute name="fpi"/>
          </optional>
          <ref name="label.attrib"/>
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="book.role.attrib"/>
          <ref name="local.book.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="bookinfo.module">
      <define name="local.bookinfo.attrib">
        <empty/>
      </define>
      <define name="bookinfo.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="bookinfo">
        <define name="bookinfo">
          <element name="bookinfo">
            <ref name="bookinfo.attlist"/>
            <oneOrMore>
              <ref name="info.class"/>
            </oneOrMore>
          </element>
        </define>
      </div>

<!-- Contents: IDs of the ToC, LoTs, Prefaces, Parts, Chapters,
		Appendixes, References, GLossary, Bibliography, and indexes
		comprising the Book, in the order of their appearance -->

      <div db:name="bookinfo.attlist">
        <define name="bookinfo.attlist" combine="interleave">
          <optional>
            <attribute name="contents">
              <data type="IDREFS"/>
            </attribute>
          </optional>
          <ref name="common.attrib"/>
          <ref name="bookinfo.role.attrib"/>
          <ref name="local.bookinfo.attrib"/>
        </define>
      </div>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Dedication, ToC, and LoT ............................................. -->

  <div db:name="dedication.module">
    <define name="local.dedication.attrib">
      <empty/>
    </define>
    <define name="dedication.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="dedication">
      <define name="dedication">
        <element name="dedication">
          <ref name="dedication.attlist"/>
          <optional>
            <ref name="sect.title.content"/>
          </optional>
          <oneOrMore>
            <ref name="legalnotice.mix"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="dedication.attlist">
      <define name="dedication.attlist" combine="interleave">
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="dedication.role.attrib"/>
        <ref name="local.dedication.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="colophon.module">
    <define name="local.colophon.attrib">
      <empty/>
    </define>
    <define name="colophon.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="colophon">
      <define name="colophon">
        <element name="colophon">
          <ref name="colophon.attlist"/>
          <optional>
            <ref name="sect.title.content"/>
          </optional>
          <oneOrMore>
            <ref name="textobject.mix"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="colophon.attlist">
      <define name="colophon.attlist" combine="interleave">
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="colophon.role.attrib"/>
        <ref name="local.colophon.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="toc.content.module">

    <div db:name="toc.module">
      <define name="local.toc.attrib">
        <empty/>
      </define>
      <define name="toc.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="toc">
        <define name="toc">
          <element name="toc">
            <ref name="toc.attlist"/>
            <optional>
              <ref name="beginpage"/>
            </optional>
            <optional>
              <ref name="bookcomponent.title.content"/>
            </optional>
            <zeroOrMore>
              <ref name="tocfront"/>
            </zeroOrMore>
            <zeroOrMore>
              <choice>
                <ref name="tocpart"/>
                <ref name="tocchap"/>
              </choice>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="tocback"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="toc.attlist">
        <define name="toc.attlist" combine="interleave">
          <ref name="pagenum.attrib"/>
          <ref name="common.attrib"/>
          <ref name="toc.role.attrib"/>
          <ref name="local.toc.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="tocfront.module">
      <define name="local.tocfront.attrib">
        <empty/>
      </define>
      <define name="tocfront.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="tocfront">
        <define name="tocfront">
          <element name="tocfront">
            <ref name="tocfront.attlist"/>
            <zeroOrMore>
              <ref name="para.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- to element that this entry represents -->

      <div db:name="tocfront.attlist">
        <define name="tocfront.attlist" combine="interleave">
          <ref name="label.attrib"/>
          <ref name="linkend.attrib"/>
          <ref name="pagenum.attrib"/>
          <ref name="common.attrib"/>
          <ref name="tocfront.role.attrib"/>
          <ref name="local.tocfront.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="tocentry.module">
      <define name="local.tocentry.attrib">
        <empty/>
      </define>
      <define name="tocentry.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="tocentry">
        <define name="tocentry">
          <element name="tocentry">
            <ref name="tocentry.attlist"/>
            <zeroOrMore>
              <ref name="para.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- to element that this entry represents -->

      <div db:name="tocentry.attlist">
        <define name="tocentry.attlist" combine="interleave">
          <ref name="linkend.attrib"/>
          <ref name="pagenum.attrib"/>
          <ref name="common.attrib"/>
          <ref name="tocentry.role.attrib"/>
          <ref name="local.tocentry.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="tocpart.module">
      <define name="local.tocpart.attrib">
        <empty/>
      </define>
      <define name="tocpart.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="tocpart">
        <define name="tocpart">
          <element name="tocpart">
            <ref name="tocpart.attlist"/>
            <oneOrMore>
              <ref name="tocentry"/>
            </oneOrMore>
            <zeroOrMore>
              <ref name="tocchap"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="tocpart.attlist">
        <define name="tocpart.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="tocpart.role.attrib"/>
          <ref name="local.tocpart.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="tocchap.module">
      <define name="local.tocchap.attrib">
        <empty/>
      </define>
      <define name="tocchap.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="tocchap">
        <define name="tocchap">
          <element name="tocchap">
            <ref name="tocchap.attlist"/>
            <oneOrMore>
              <ref name="tocentry"/>
            </oneOrMore>
            <zeroOrMore>
              <ref name="toclevel1"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="tocchap.attlist">
        <define name="tocchap.attlist" combine="interleave">
          <ref name="label.attrib"/>
          <ref name="common.attrib"/>
          <ref name="tocchap.role.attrib"/>
          <ref name="local.tocchap.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="toclevel1.module">
      <define name="local.toclevel1.attrib">
        <empty/>
      </define>
      <define name="toclevel1.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="toclevel1">
        <define name="toclevel1">
          <element name="toclevel1">
            <ref name="toclevel1.attlist"/>
            <oneOrMore>
              <ref name="tocentry"/>
            </oneOrMore>
            <zeroOrMore>
              <ref name="toclevel2"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="toclevel1.attlist">
        <define name="toclevel1.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="toclevel1.role.attrib"/>
          <ref name="local.toclevel1.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="toclevel2.module">
      <define name="local.toclevel2.attrib">
        <empty/>
      </define>
      <define name="toclevel2.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="toclevel2">
        <define name="toclevel2">
          <element name="toclevel2">
            <ref name="toclevel2.attlist"/>
            <oneOrMore>
              <ref name="tocentry"/>
            </oneOrMore>
            <zeroOrMore>
              <ref name="toclevel3"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="toclevel2.attlist">
        <define name="toclevel2.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="toclevel2.role.attrib"/>
          <ref name="local.toclevel2.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="toclevel3.module">
      <define name="local.toclevel3.attrib">
        <empty/>
      </define>
      <define name="toclevel3.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="toclevel3">
        <define name="toclevel3">
          <element name="toclevel3">
            <ref name="toclevel3.attlist"/>
            <oneOrMore>
              <ref name="tocentry"/>
            </oneOrMore>
            <zeroOrMore>
              <ref name="toclevel4"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="toclevel3.attlist">
        <define name="toclevel3.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="toclevel3.role.attrib"/>
          <ref name="local.toclevel3.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="toclevel4.module">
      <define name="local.toclevel4.attrib">
        <empty/>
      </define>
      <define name="toclevel4.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="toclevel4">
        <define name="toclevel4">
          <element name="toclevel4">
            <ref name="toclevel4.attlist"/>
            <oneOrMore>
              <ref name="tocentry"/>
            </oneOrMore>
            <zeroOrMore>
              <ref name="toclevel5"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="toclevel4.attlist">
        <define name="toclevel4.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="toclevel4.role.attrib"/>
          <ref name="local.toclevel4.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="toclevel5.module">
      <define name="local.toclevel5.attrib">
        <empty/>
      </define>
      <define name="toclevel5.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="toclevel5">
        <define name="toclevel5">
          <element name="toclevel5">
            <ref name="toclevel5.attlist"/>
            <oneOrMore>
              <ref name="tocentry"/>
            </oneOrMore>
          </element>
        </define>
      </div>

      <div db:name="toclevel5.attlist">
        <define name="toclevel5.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="toclevel5.role.attrib"/>
          <ref name="local.toclevel5.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="tocback.module">
      <define name="local.tocback.attrib">
        <empty/>
      </define>
      <define name="tocback.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="tocback">
        <define name="tocback">
          <element name="tocback">
            <ref name="tocback.attlist"/>
            <zeroOrMore>
              <ref name="para.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- to element that this entry represents -->

      <div db:name="tocback.attlist">
        <define name="tocback.attlist" combine="interleave">
          <ref name="label.attrib"/>
          <ref name="linkend.attrib"/>
          <ref name="pagenum.attrib"/>
          <ref name="common.attrib"/>
          <ref name="tocback.role.attrib"/>
          <ref name="local.tocback.attrib"/>
        </define>
      </div>
    </div>
  </div>

  <div db:name="lot.content.module">

    <div db:name="lot.module">
      <define name="local.lot.attrib">
        <empty/>
      </define>
      <define name="lot.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="lot">
        <define name="lot">
          <element name="lot">
            <ref name="lot.attlist"/>
            <optional>
              <ref name="beginpage"/>
            </optional>
            <optional>
              <ref name="bookcomponent.title.content"/>
            </optional>
            <zeroOrMore>
              <ref name="lotentry"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="lot.attlist">
        <define name="lot.attlist" combine="interleave">
          <ref name="label.attrib"/>
          <ref name="common.attrib"/>
          <ref name="lot.role.attrib"/>
          <ref name="local.lot.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="lotentry.module">
      <define name="local.lotentry.attrib">
        <empty/>
      </define>
      <define name="lotentry.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="lotentry">
        <define name="lotentry">
          <element name="lotentry">
            <ref name="lotentry.attlist"/>
            <zeroOrMore>
              <ref name="para.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- SrcCredit: Information about the source of the entry,
		as for a list of illustrations -->
<!-- linkend: to element that this entry represents-->

      <div db:name="lotentry.attlist">
        <define name="lotentry.attlist" combine="interleave">
          <ref name="linkend.attrib"/>
          <ref name="pagenum.attrib"/>
          <optional>
            <attribute name="srccredit"/>
          </optional>
          <ref name="common.attrib"/>
          <ref name="lotentry.role.attrib"/>
          <ref name="local.lotentry.attrib"/>
        </define>
      </div>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Appendix, Chapter, Part, Preface, Reference, PartIntro ............... -->

  <div db:name="appendix.module">
    <define name="local.appendix.attrib">
      <empty/>
    </define>
    <define name="appendix.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="appendix">
      <define name="appendix">
        <element name="appendix">
          <ref name="appendix.attlist"/>
          <optional>
            <ref name="beginpage"/>
          </optional>
          <optional>
            <ref name="appendixinfo"/>
          </optional>
          <ref name="bookcomponent.title.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
          <optional>
            <ref name="tocchap"/>
          </optional>
          <ref name="bookcomponent.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
        </element>
      </define>
    </div>

    <div db:name="appendix.attlist">
      <define name="appendix.attlist" combine="interleave">
        <ref name="label.attrib"/>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="appendix.role.attrib"/>
        <ref name="local.appendix.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="chapter.module">
    <define name="local.chapter.attrib">
      <empty/>
    </define>
    <define name="chapter.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="chapter">
      <define name="chapter">
        <element name="chapter">
          <ref name="chapter.attlist"/>
          <optional>
            <ref name="beginpage"/>
          </optional>
          <optional>
            <ref name="chapterinfo"/>
          </optional>
          <ref name="bookcomponent.title.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
          <optional>
            <ref name="tocchap"/>
          </optional>
          <ref name="bookcomponent.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
        </element>
      </define>
    </div>

    <div db:name="chapter.attlist">
      <define name="chapter.attlist" combine="interleave">
        <ref name="label.attrib"/>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="chapter.role.attrib"/>
        <ref name="local.chapter.attrib"/>
      </define>
    </div>
  </div>

<!-- Note that Part was to have its content model reduced in V4.2.  This
change will not be made after all. -->

  <div db:name="part.module">
    <define name="local.part.attrib">
      <empty/>
    </define>
    <define name="part.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="part">
      <define name="part">
        <element name="part">
          <ref name="part.attlist"/>
          <optional>
            <ref name="beginpage"/>
          </optional>
          <optional>
            <ref name="partinfo"/>
          </optional>
          <ref name="bookcomponent.title.content"/>
          <optional>
            <ref name="partintro"/>
          </optional>
          <oneOrMore>
            <ref name="partcontent.mix"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="part.attlist">
      <define name="part.attlist" combine="interleave">
        <ref name="label.attrib"/>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="part.role.attrib"/>
        <ref name="local.part.attrib"/>
      </define>
    </div>

<!--ELEMENT PartIntro (defined below)-->

  </div>

  <div db:name="preface.module">
    <define name="local.preface.attrib">
      <empty/>
    </define>
    <define name="preface.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="preface">
      <define name="preface">
        <element name="preface">
          <ref name="preface.attlist"/>
          <optional>
            <ref name="beginpage"/>
          </optional>
          <optional>
            <ref name="prefaceinfo"/>
          </optional>
          <ref name="bookcomponent.title.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
          <optional>
            <ref name="tocchap"/>
          </optional>
          <ref name="bookcomponent.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
        </element>
      </define>
    </div>

    <div db:name="preface.attlist">
      <define name="preface.attlist" combine="interleave">
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="preface.role.attrib"/>
        <ref name="local.preface.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="reference.module">
    <define name="local.reference.attrib">
      <empty/>
    </define>
    <define name="reference.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="reference">
      <define name="reference">
        <element name="reference">
          <ref name="reference.attlist"/>
          <optional>
            <ref name="beginpage"/>
          </optional>
          <optional>
            <ref name="referenceinfo"/>
          </optional>
          <ref name="bookcomponent.title.content"/>
          <optional>
            <ref name="partintro"/>
          </optional>
          <oneOrMore>
            <ref name="refentry.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="reference.attlist">
      <define name="reference.attlist" combine="interleave">
        <ref name="label.attrib"/>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="reference.role.attrib"/>
        <ref name="local.reference.attrib"/>
      </define>
    </div>

<!--ELEMENT PartIntro (defined below)-->

  </div>

  <div db:name="partintro.module">
    <define name="local.partintro.attrib">
      <empty/>
    </define>
    <define name="partintro.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="partintro">
      <define name="partintro">
        <element name="partintro">
          <ref name="partintro.attlist"/>
          <optional>
            <ref name="div.title.content"/>
          </optional>
          <ref name="bookcomponent.content"/>
        </element>
      </define>
    </div>

    <div db:name="partintro.attlist">
      <define name="partintro.attlist" combine="interleave">
        <ref name="label.attrib"/>
        <ref name="common.attrib"/>
        <ref name="partintro.role.attrib"/>
        <ref name="local.partintro.attrib"/>
      </define>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Other Info elements .................................................. -->

  <div db:name="appendixinfo.module">
    <define name="local.appendixinfo.attrib">
      <empty/>
    </define>
    <define name="appendixinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="appendixinfo">
      <define name="appendixinfo">
        <element name="appendixinfo">
          <ref name="appendixinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="appendixinfo.attlist">
      <define name="appendixinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="appendixinfo.role.attrib"/>
        <ref name="local.appendixinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="bibliographyinfo.module">
    <define name="local.bibliographyinfo.attrib">
      <empty/>
    </define>
    <define name="bibliographyinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="bibliographyinfo">
      <define name="bibliographyinfo">
        <element name="bibliographyinfo">
          <ref name="bibliographyinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="bibliographyinfo.attlist">
      <define name="bibliographyinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="bibliographyinfo.role.attrib"/>
        <ref name="local.bibliographyinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="chapterinfo.module">
    <define name="local.chapterinfo.attrib">
      <empty/>
    </define>
    <define name="chapterinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="chapterinfo">
      <define name="chapterinfo">
        <element name="chapterinfo">
          <ref name="chapterinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="chapterinfo.attlist">
      <define name="chapterinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="chapterinfo.role.attrib"/>
        <ref name="local.chapterinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="glossaryinfo.module">
    <define name="local.glossaryinfo.attrib">
      <empty/>
    </define>
    <define name="glossaryinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="glossaryinfo">
      <define name="glossaryinfo">
        <element name="glossaryinfo">
          <ref name="glossaryinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="glossaryinfo.attlist">
      <define name="glossaryinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="glossaryinfo.role.attrib"/>
        <ref name="local.glossaryinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="indexinfo.module">
    <define name="local.indexinfo.attrib">
      <empty/>
    </define>
    <define name="indexinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="indexinfo">
      <define name="indexinfo">
        <element name="indexinfo">
          <ref name="indexinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="indexinfo.attlist">
      <define name="indexinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="indexinfo.role.attrib"/>
        <ref name="local.indexinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="setindexinfo.module">
    <define name="local.setindexinfo.attrib">
      <empty/>
    </define>
    <define name="setindexinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="setindexinfo">
      <define name="setindexinfo">
        <element name="setindexinfo">
          <ref name="setindexinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="setindexinfo.attlist">
      <define name="setindexinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="setindexinfo.role.attrib"/>
        <ref name="local.setindexinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="partinfo.module">
    <define name="local.partinfo.attrib">
      <empty/>
    </define>
    <define name="partinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="partinfo">
      <define name="partinfo">
        <element name="partinfo">
          <ref name="partinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="partinfo.attlist">
      <define name="partinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="partinfo.role.attrib"/>
        <ref name="local.partinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="prefaceinfo.module">
    <define name="local.prefaceinfo.attrib">
      <empty/>
    </define>
    <define name="prefaceinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="prefaceinfo">
      <define name="prefaceinfo">
        <element name="prefaceinfo">
          <ref name="prefaceinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="prefaceinfo.attlist">
      <define name="prefaceinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="prefaceinfo.role.attrib"/>
        <ref name="local.prefaceinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="refentryinfo.module">
    <define name="local.refentryinfo.attrib">
      <empty/>
    </define>
    <define name="refentryinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="refentryinfo">
      <define name="refentryinfo">
        <element name="refentryinfo">
          <ref name="refentryinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="refentryinfo.attlist">
      <define name="refentryinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="refentryinfo.role.attrib"/>
        <ref name="local.refentryinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="refsectioninfo.module">
    <define name="local.refsectioninfo.attrib">
      <empty/>
    </define>
    <define name="refsectioninfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="refsectioninfo">
      <define name="refsectioninfo">
        <element name="refsectioninfo">
          <ref name="refsectioninfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="refsectioninfo.attlist">
      <define name="refsectioninfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="refsectioninfo.role.attrib"/>
        <ref name="local.refsectioninfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="refsect1info.module">
    <define name="local.refsect1info.attrib">
      <empty/>
    </define>
    <define name="refsect1info.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="refsect1info">
      <define name="refsect1info">
        <element name="refsect1info">
          <ref name="refsect1info.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="refsect1info.attlist">
      <define name="refsect1info.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="refsect1info.role.attrib"/>
        <ref name="local.refsect1info.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="refsect2info.module">
    <define name="local.refsect2info.attrib">
      <empty/>
    </define>
    <define name="refsect2info.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="refsect2info">
      <define name="refsect2info">
        <element name="refsect2info">
          <ref name="refsect2info.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="refsect2info.attlist">
      <define name="refsect2info.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="refsect2info.role.attrib"/>
        <ref name="local.refsect2info.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="refsect3info.module">
    <define name="local.refsect3info.attrib">
      <empty/>
    </define>
    <define name="refsect3info.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="refsect3info">
      <define name="refsect3info">
        <element name="refsect3info">
          <ref name="refsect3info.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="refsect3info.attlist">
      <define name="refsect3info.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="refsect3info.role.attrib"/>
        <ref name="local.refsect3info.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="refsynopsisdivinfo.module">
    <define name="local.refsynopsisdivinfo.attrib">
      <empty/>
    </define>
    <define name="refsynopsisdivinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="refsynopsisdivinfo">
      <define name="refsynopsisdivinfo">
        <element name="refsynopsisdivinfo">
          <ref name="refsynopsisdivinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="refsynopsisdivinfo.attlist">
      <define name="refsynopsisdivinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="refsynopsisdivinfo.role.attrib"/>
        <ref name="local.refsynopsisdivinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="referenceinfo.module">
    <define name="local.referenceinfo.attrib">
      <empty/>
    </define>
    <define name="referenceinfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="referenceinfo">
      <define name="referenceinfo">
        <element name="referenceinfo">
          <ref name="referenceinfo.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="referenceinfo.attlist">
      <define name="referenceinfo.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="referenceinfo.role.attrib"/>
        <ref name="local.referenceinfo.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="sect1info.module">
    <define name="local.sect1info.attrib">
      <empty/>
    </define>
    <define name="sect1info.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect1info">
      <define name="sect1info">
        <element name="sect1info">
          <ref name="sect1info.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="sect1info.attlist">
      <define name="sect1info.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="sect1info.role.attrib"/>
        <ref name="local.sect1info.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="sect2info.module">
    <define name="local.sect2info.attrib">
      <empty/>
    </define>
    <define name="sect2info.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect2info">
      <define name="sect2info">
        <element name="sect2info">
          <ref name="sect2info.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="sect2info.attlist">
      <define name="sect2info.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="sect2info.role.attrib"/>
        <ref name="local.sect2info.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="sect3info.module">
    <define name="local.sect3info.attrib">
      <empty/>
    </define>
    <define name="sect3info.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect3info">
      <define name="sect3info">
        <element name="sect3info">
          <ref name="sect3info.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="sect3info.attlist">
      <define name="sect3info.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="sect3info.role.attrib"/>
        <ref name="local.sect3info.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="sect4info.module">
    <define name="local.sect4info.attrib">
      <empty/>
    </define>
    <define name="sect4info.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect4info">
      <define name="sect4info">
        <element name="sect4info">
          <ref name="sect4info.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="sect4info.attlist">
      <define name="sect4info.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="sect4info.role.attrib"/>
        <ref name="local.sect4info.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="sect5info.module">
    <define name="local.sect5info.attrib">
      <empty/>
    </define>
    <define name="sect5info.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect5info">
      <define name="sect5info">
        <element name="sect5info">
          <ref name="sect5info.attlist"/>
          <oneOrMore>
            <ref name="info.class"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="sect5info.attlist">
      <define name="sect5info.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="sect5info.role.attrib"/>
        <ref name="local.sect5info.attrib"/>
      </define>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Section (parallel to Sect*) ......................................... -->

  <div db:name="section.content.module">

    <div db:name="section.module">
      <define name="local.section.attrib">
        <empty/>
      </define>
      <define name="section.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="section">
        <define name="section">
          <element name="section">
            <ref name="section.attlist"/>
            <optional>
              <ref name="sectioninfo"/>
            </optional>
            <ref name="sect.title.content"/>
            <zeroOrMore>
              <ref name="nav.class"/>
            </zeroOrMore>
            <choice>
              <group>
                <oneOrMore>
                  <ref name="divcomponent.mix"/>
                </oneOrMore>
                <choice>
                  <zeroOrMore>
                    <ref name="refentry.class"/>
                  </zeroOrMore>
                  <zeroOrMore>
                    <ref name="section.class"/>
                  </zeroOrMore>
                  <zeroOrMore>
                    <ref name="simplesect"/>
                  </zeroOrMore>
                </choice>
              </group>
              <oneOrMore>
                <ref name="refentry.class"/>
              </oneOrMore>
              <oneOrMore>
                <ref name="section.class"/>
              </oneOrMore>
              <oneOrMore>
                <ref name="simplesect"/>
              </oneOrMore>
            </choice>
            <zeroOrMore>
              <ref name="nav.class"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="section.attlist">
        <define name="section.attlist" combine="interleave">
          <ref name="label.attrib"/>
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="section.role.attrib"/>
          <ref name="local.section.attrib"/>
        </define>
      </div>
    </div>
    <define name="sectioninfo.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sectioninfo.module">
      <define name="local.sectioninfo.attrib">
        <empty/>
      </define>

      <div db:name="sectioninfo">
        <define name="sectioninfo">
          <element name="sectioninfo">
            <ref name="sectioninfo.attlist"/>
            <oneOrMore>
              <ref name="info.class"/>
            </oneOrMore>
          </element>
        </define>
      </div>

      <div db:name="sectioninfo.attlist">
        <define name="sectioninfo.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="sectioninfo.role.attrib"/>
          <ref name="local.sectioninfo.attrib"/>
        </define>
      </div>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Sect1, Sect2, Sect3, Sect4, Sect5 .................................... -->

  <div db:name="sect1.module">
    <define name="local.sect1.attrib">
      <empty/>
    </define>
    <define name="sect1.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect1">
      <define name="sect1">
        <element name="sect1">
          <ref name="sect1.attlist"/>
          <optional>
            <ref name="sect1info"/>
          </optional>
          <ref name="sect.title.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="divcomponent.mix"/>
              </oneOrMore>
              <choice>
                <zeroOrMore>
                  <ref name="refentry.class"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="sect2"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="simplesect"/>
                </zeroOrMore>
              </choice>
            </group>
            <oneOrMore>
              <ref name="refentry.class"/>
            </oneOrMore>
            <oneOrMore>
              <ref name="sect2"/>
            </oneOrMore>
            <oneOrMore>
              <ref name="simplesect"/>
            </oneOrMore>
          </choice>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
        </element>
      </define>
    </div>

<!-- Renderas: Indicates the format in which the heading should
		appear -->

    <div db:name="sect1.attlist">
      <define name="sect1.attlist" combine="interleave">
        <optional>
          <attribute name="renderas">
            <choice>
              <value>sect2</value>
              <value>sect3</value>
              <value>sect4</value>
              <value>sect5</value>
            </choice>
          </attribute>
        </optional>
        <ref name="label.attrib"/>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="sect1.role.attrib"/>
        <ref name="local.sect1.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="sect2.module">
    <define name="local.sect2.attrib">
      <empty/>
    </define>
    <define name="sect2.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect2">
      <define name="sect2">
        <element name="sect2">
          <ref name="sect2.attlist"/>
          <optional>
            <ref name="sect2info"/>
          </optional>
          <ref name="sect.title.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="divcomponent.mix"/>
              </oneOrMore>
              <choice>
                <zeroOrMore>
                  <ref name="refentry.class"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="sect3"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="simplesect"/>
                </zeroOrMore>
              </choice>
            </group>
            <oneOrMore>
              <ref name="refentry.class"/>
            </oneOrMore>
            <oneOrMore>
              <ref name="sect3"/>
            </oneOrMore>
            <oneOrMore>
              <ref name="simplesect"/>
            </oneOrMore>
          </choice>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
        </element>
      </define>
    </div>

<!-- Renderas: Indicates the format in which the heading should
		appear -->

    <div db:name="sect2.attlist">
      <define name="sect2.attlist" combine="interleave">
        <optional>
          <attribute name="renderas">
            <choice>
              <value>sect1</value>
              <value>sect3</value>
              <value>sect4</value>
              <value>sect5</value>
            </choice>
          </attribute>
        </optional>
        <ref name="label.attrib"/>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="sect2.role.attrib"/>
        <ref name="local.sect2.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="sect3.module">
    <define name="local.sect3.attrib">
      <empty/>
    </define>
    <define name="sect3.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect3">
      <define name="sect3">
        <element name="sect3">
          <ref name="sect3.attlist"/>
          <optional>
            <ref name="sect3info"/>
          </optional>
          <ref name="sect.title.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="divcomponent.mix"/>
              </oneOrMore>
              <choice>
                <zeroOrMore>
                  <ref name="refentry.class"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="sect4"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="simplesect"/>
                </zeroOrMore>
              </choice>
            </group>
            <oneOrMore>
              <ref name="refentry.class"/>
            </oneOrMore>
            <oneOrMore>
              <ref name="sect4"/>
            </oneOrMore>
            <oneOrMore>
              <ref name="simplesect"/>
            </oneOrMore>
          </choice>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
        </element>
      </define>
    </div>

<!-- Renderas: Indicates the format in which the heading should
		appear -->

    <div db:name="sect3.attlist">
      <define name="sect3.attlist" combine="interleave">
        <optional>
          <attribute name="renderas">
            <choice>
              <value>sect1</value>
              <value>sect2</value>
              <value>sect4</value>
              <value>sect5</value>
            </choice>
          </attribute>
        </optional>
        <ref name="label.attrib"/>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="sect3.role.attrib"/>
        <ref name="local.sect3.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="sect4.module">
    <define name="local.sect4.attrib">
      <empty/>
    </define>
    <define name="sect4.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect4">
      <define name="sect4">
        <element name="sect4">
          <ref name="sect4.attlist"/>
          <optional>
            <ref name="sect4info"/>
          </optional>
          <ref name="sect.title.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="divcomponent.mix"/>
              </oneOrMore>
              <choice>
                <zeroOrMore>
                  <ref name="refentry.class"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="sect5"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="simplesect"/>
                </zeroOrMore>
              </choice>
            </group>
            <oneOrMore>
              <ref name="refentry.class"/>
            </oneOrMore>
            <oneOrMore>
              <ref name="sect5"/>
            </oneOrMore>
            <oneOrMore>
              <ref name="simplesect"/>
            </oneOrMore>
          </choice>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
        </element>
      </define>
    </div>

<!-- Renderas: Indicates the format in which the heading should
		appear -->

    <div db:name="sect4.attlist">
      <define name="sect4.attlist" combine="interleave">
        <optional>
          <attribute name="renderas">
            <choice>
              <value>sect1</value>
              <value>sect2</value>
              <value>sect3</value>
              <value>sect5</value>
            </choice>
          </attribute>
        </optional>
        <ref name="label.attrib"/>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="sect4.role.attrib"/>
        <ref name="local.sect4.attrib"/>
      </define>
    </div>

<!--end of sect4.attlist-->

  </div>

  <div db:name="sect5.module">
    <define name="local.sect5.attrib">
      <empty/>
    </define>
    <define name="sect5.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="sect5">
      <define name="sect5">
        <element name="sect5">
          <ref name="sect5.attlist"/>
          <optional>
            <ref name="sect5info"/>
          </optional>
          <ref name="sect.title.content"/>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="divcomponent.mix"/>
              </oneOrMore>
              <choice>
                <zeroOrMore>
                  <ref name="refentry.class"/>
                </zeroOrMore>
                <zeroOrMore>
                  <ref name="simplesect"/>
                </zeroOrMore>
              </choice>
            </group>
            <oneOrMore>
              <ref name="refentry.class"/>
            </oneOrMore>
            <oneOrMore>
              <ref name="simplesect"/>
            </oneOrMore>
          </choice>
          <zeroOrMore>
            <ref name="nav.class"/>
          </zeroOrMore>
        </element>
      </define>
    </div>

<!-- Renderas: Indicates the format in which the heading should
		appear -->

    <div db:name="sect5.attlist">
      <define name="sect5.attlist" combine="interleave">
        <optional>
          <attribute name="renderas">
            <choice>
              <value>sect1</value>
              <value>sect2</value>
              <value>sect3</value>
              <value>sect4</value>
            </choice>
          </attribute>
        </optional>
        <ref name="label.attrib"/>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="sect5.role.attrib"/>
        <ref name="local.sect5.attrib"/>
      </define>
    </div>
  </div>

  <div db:name="simplesect.module">
    <define name="local.simplesect.attrib">
      <empty/>
    </define>
    <define name="simplesect.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="simplesect">
      <define name="simplesect">
        <element name="simplesect">
          <ref name="simplesect.attlist"/>
          <ref name="sect.title.content"/>
          <oneOrMore>
            <ref name="divcomponent.mix"/>
          </oneOrMore>
        </element>
      </define>
    </div>

    <div db:name="simplesect.attlist">
      <define name="simplesect.attlist" combine="interleave">
        <ref name="common.attrib"/>
        <ref name="simplesect.role.attrib"/>
        <ref name="local.simplesect.attrib"/>
      </define>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Bibliography ......................................................... -->

  <div db:name="bibliography.content.module">

    <div db:name="bibliography.module">
      <define name="local.bibliography.attrib">
        <empty/>
      </define>
      <define name="bibliography.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="bibliography">
        <define name="bibliography">
          <element name="bibliography">
            <ref name="bibliography.attlist"/>
            <optional>
              <ref name="bibliographyinfo"/>
            </optional>
            <optional>
              <ref name="bookcomponent.title.content"/>
            </optional>
            <zeroOrMore>
              <ref name="component.mix"/>
            </zeroOrMore>
            <choice>
              <oneOrMore>
                <ref name="bibliodiv"/>
              </oneOrMore>
              <oneOrMore>
                <choice>
                  <ref name="biblioentry"/>
                  <ref name="bibliomixed"/>
                </choice>
              </oneOrMore>
            </choice>
          </element>
        </define>
      </div>

      <div db:name="bibliography.attlist">
        <define name="bibliography.attlist" combine="interleave">
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="bibliography.role.attrib"/>
          <ref name="local.bibliography.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="bibliodiv.module">
      <define name="local.bibliodiv.attrib">
        <empty/>
      </define>
      <define name="bibliodiv.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="bibliodiv">
        <define name="bibliodiv">
          <element name="bibliodiv">
            <ref name="bibliodiv.attlist"/>
            <optional>
              <ref name="sect.title.content"/>
            </optional>
            <zeroOrMore>
              <ref name="component.mix"/>
            </zeroOrMore>
            <oneOrMore>
              <choice>
                <ref name="biblioentry"/>
                <ref name="bibliomixed"/>
              </choice>
            </oneOrMore>
          </element>
        </define>
      </div>

      <div db:name="bibliodiv.attlist">
        <define name="bibliodiv.attlist" combine="interleave">
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="bibliodiv.role.attrib"/>
          <ref name="local.bibliodiv.attrib"/>
        </define>
      </div>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Glossary ............................................................. -->

  <div db:name="glossary.content.module">

    <div db:name="glossary.module">
      <define name="local.glossary.attrib">
        <empty/>
      </define>
      <define name="glossary.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="glossary">
        <define name="glossary">
          <element name="glossary">
            <ref name="glossary.attlist"/>
            <optional>
              <ref name="glossaryinfo"/>
            </optional>
            <optional>
              <ref name="bookcomponent.title.content"/>
            </optional>
            <zeroOrMore>
              <ref name="component.mix"/>
            </zeroOrMore>
            <choice>
              <oneOrMore>
                <ref name="glossdiv"/>
              </oneOrMore>
              <oneOrMore>
                <ref name="glossentry"/>
              </oneOrMore>
            </choice>
            <optional>
              <ref name="bibliography"/>
            </optional>
          </element>
        </define>
      </div>

      <div db:name="glossary.attlist">
        <define name="glossary.attlist" combine="interleave">
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="glossary.role.attrib"/>
          <ref name="local.glossary.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="glossdiv.module">
      <define name="local.glossdiv.attrib">
        <empty/>
      </define>
      <define name="glossdiv.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="glossdiv">
        <define name="glossdiv">
          <element name="glossdiv">
            <ref name="glossdiv.attlist"/>
            <ref name="sect.title.content"/>
            <zeroOrMore>
              <ref name="component.mix"/>
            </zeroOrMore>
            <oneOrMore>
              <ref name="glossentry"/>
            </oneOrMore>
          </element>
        </define>
      </div>

      <div db:name="glossdiv.attlist">
        <define name="glossdiv.attlist" combine="interleave">
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="glossdiv.role.attrib"/>
          <ref name="local.glossdiv.attrib"/>
        </define>
      </div>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Index and SetIndex ................................................... -->

  <div db:name="indexes.content.module">

    <div db:name="indexes.module">
      <define name="local.indexes.attrib">
        <empty/>
      </define>
      <define name="indexes.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="index">
        <define name="index">
          <element name="index">
            <ref name="index.attlist"/>
            <optional>
              <ref name="indexinfo"/>
            </optional>
            <optional>
              <ref name="bookcomponent.title.content"/>
            </optional>
            <zeroOrMore>
              <ref name="component.mix"/>
            </zeroOrMore>
            <choice>
              <zeroOrMore>
                <ref name="indexdiv"/>
              </zeroOrMore>
              <zeroOrMore>
                <ref name="indexentry"/>
              </zeroOrMore>
            </choice>
          </element>
        </define>
      </div>

      <div db:name="index.attlist">
        <define name="index.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="indexes.role.attrib"/>
          <ref name="local.indexes.attrib"/>
        </define>
      </div>

      <div db:name="setindex">
        <define name="setindex">
          <element name="setindex">
            <ref name="setindex.attlist"/>
            <optional>
              <ref name="setindexinfo"/>
            </optional>
            <optional>
              <ref name="bookcomponent.title.content"/>
            </optional>
            <zeroOrMore>
              <ref name="component.mix"/>
            </zeroOrMore>
            <choice>
              <zeroOrMore>
                <ref name="indexdiv"/>
              </zeroOrMore>
              <zeroOrMore>
                <ref name="indexentry"/>
              </zeroOrMore>
            </choice>
          </element>
        </define>
      </div>

      <div db:name="setindex.attlist">
        <define name="setindex.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="indexes.role.attrib"/>
          <ref name="local.indexes.attrib"/>
        </define>
      </div>
    </div>

<!-- SegmentedList in this content is useful for marking up permuted
     indices. -->

    <div db:name="indexdiv.module">
      <define name="local.indexdiv.attrib">
        <empty/>
      </define>
      <define name="indexdiv.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="indexdiv">
        <define name="indexdiv">
          <element name="indexdiv">
            <ref name="indexdiv.attlist"/>
            <optional>
              <ref name="sect.title.content"/>
            </optional>
            <zeroOrMore>
              <ref name="indexdivcomponent.mix"/>
            </zeroOrMore>
            <choice>
              <oneOrMore>
                <ref name="indexentry"/>
              </oneOrMore>
              <ref name="segmentedlist"/>
            </choice>
          </element>
        </define>
      </div>

      <div db:name="indexdiv.attlist">
        <define name="indexdiv.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="indexdiv.role.attrib"/>
          <ref name="local.indexdiv.attrib"/>
        </define>
      </div>
    </div>

<!-- Index entries appear in the index, not the text. -->

    <div db:name="indexentry.module">
      <define name="local.indexentry.attrib">
        <empty/>
      </define>
      <define name="indexentry.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="indexentry">
        <define name="indexentry">
          <element name="indexentry">
            <ref name="indexentry.attlist"/>
            <ref name="primaryie"/>
            <zeroOrMore>
              <choice>
                <ref name="seeie"/>
                <ref name="seealsoie"/>
              </choice>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="secondaryie"/>
              <zeroOrMore>
                <choice>
                  <ref name="seeie"/>
                  <ref name="seealsoie"/>
                  <ref name="tertiaryie"/>
                </choice>
              </zeroOrMore>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="indexentry.attlist">
        <define name="indexentry.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="indexentry.role.attrib"/>
          <ref name="local.indexentry.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="primsecterie.module">
      <define name="local.primsecterie.attrib">
        <empty/>
      </define>
      <define name="primsecterie.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="primaryie">
        <define name="primaryie">
          <element name="primaryie">
            <ref name="primaryie.attlist"/>
            <zeroOrMore>
              <ref name="ndxterm.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- to IndexTerms that these entries represent -->

      <div db:name="primaryie.attlist">
        <define name="primaryie.attlist" combine="interleave">
          <ref name="linkends.attrib"/>
          <ref name="common.attrib"/>
          <ref name="primsecterie.role.attrib"/>
          <ref name="local.primsecterie.attrib"/>
        </define>
      </div>

      <div db:name="secondaryie">
        <define name="secondaryie">
          <element name="secondaryie">
            <ref name="secondaryie.attlist"/>
            <zeroOrMore>
              <ref name="ndxterm.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- to IndexTerms that these entries represent -->

      <div db:name="secondaryie.attlist">
        <define name="secondaryie.attlist" combine="interleave">
          <ref name="linkends.attrib"/>
          <ref name="common.attrib"/>
          <ref name="primsecterie.role.attrib"/>
          <ref name="local.primsecterie.attrib"/>
        </define>
      </div>

      <div db:name="tertiaryie">
        <define name="tertiaryie">
          <element name="tertiaryie">
            <ref name="tertiaryie.attlist"/>
            <zeroOrMore>
              <ref name="ndxterm.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- to IndexTerms that these entries represent -->

      <div db:name="tertiaryie.attlist">
        <define name="tertiaryie.attlist" combine="interleave">
          <ref name="linkends.attrib"/>
          <ref name="common.attrib"/>
          <ref name="primsecterie.role.attrib"/>
          <ref name="local.primsecterie.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="seeie.module">
      <define name="local.seeie.attrib">
        <empty/>
      </define>
      <define name="seeie.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="seeie">
        <define name="seeie">
          <element name="seeie">
            <ref name="seeie.attlist"/>
            <zeroOrMore>
              <ref name="ndxterm.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- to IndexEntry to look up -->

      <div db:name="seeie.attlist">
        <define name="seeie.attlist" combine="interleave">
          <ref name="linkend.attrib"/>
          <ref name="common.attrib"/>
          <ref name="seeie.role.attrib"/>
          <ref name="local.seeie.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="seealsoie.module">
      <define name="local.seealsoie.attrib">
        <empty/>
      </define>
      <define name="seealsoie.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="seealsoie">
        <define name="seealsoie">
          <element name="seealsoie">
            <ref name="seealsoie.attlist"/>
            <zeroOrMore>
              <ref name="ndxterm.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- to related IndexEntries -->

      <div db:name="seealsoie.attlist">
        <define name="seealsoie.attlist" combine="interleave">
          <ref name="linkends.attrib"/>
          <ref name="common.attrib"/>
          <ref name="seealsoie.role.attrib"/>
          <ref name="local.seealsoie.attrib"/>
        </define>
      </div>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- RefEntry ............................................................. -->

  <div db:name="refentry.content.module">

    <div db:name="refentry.module">
      <define name="local.refentry.attrib">
        <empty/>
      </define>
      <define name="refentry.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refentry">
        <define name="refentry">
          <element name="refentry">
            <ref name="refentry.attlist"/>
            <optional>
              <ref name="beginpage"/>
            </optional>
            <zeroOrMore>
              <ref name="ndxterm.class"/>
            </zeroOrMore>
            <optional>
              <ref name="refentryinfo"/>
            </optional>
            <optional>
              <ref name="refmeta"/>
            </optional>
            <zeroOrMore>
              <choice>
                <ref name="remark"/>
                <ref name="link.char.class"/>
              </choice>
            </zeroOrMore>
            <ref name="refnamediv"/>
            <optional>
              <ref name="refsynopsisdiv"/>
            </optional>
            <choice>
              <oneOrMore>
                <ref name="refsect1"/>
              </oneOrMore>
              <oneOrMore>
                <ref name="refsection"/>
              </oneOrMore>
            </choice>
          </element>
        </define>
      </div>

      <div db:name="refentry.attlist">
        <define name="refentry.attlist" combine="interleave">
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="refentry.role.attrib"/>
          <ref name="local.refentry.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refmeta.module">
      <define name="local.refmeta.attrib">
        <empty/>
      </define>
      <define name="refmeta.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refmeta">
        <define name="refmeta">
          <element name="refmeta">
            <ref name="refmeta.attlist"/>
            <zeroOrMore>
              <ref name="ndxterm.class"/>
            </zeroOrMore>
            <ref name="refentrytitle"/>
            <optional>
              <ref name="manvolnum"/>
            </optional>
            <zeroOrMore>
              <ref name="refmiscinfo"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="ndxterm.class"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="refmeta.attlist">
        <define name="refmeta.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="refmeta.role.attrib"/>
          <ref name="local.refmeta.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refmiscinfo.module">
      <define name="local.refmiscinfo.attrib">
        <empty/>
      </define>
      <define name="refmiscinfo.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refmiscinfo">
        <define name="refmiscinfo">
          <element name="refmiscinfo">
            <ref name="refmiscinfo.attlist"/>
            <zeroOrMore>
              <ref name="docinfo.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

<!-- Class: Freely assignable parameter; no default -->

      <div db:name="refmiscinfo.attlist">
        <define name="refmiscinfo.attlist" combine="interleave">
          <optional>
            <attribute name="class"/>
          </optional>
          <ref name="common.attrib"/>
          <ref name="refmiscinfo.role.attrib"/>
          <ref name="local.refmiscinfo.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refnamediv.module">
      <define name="local.refnamediv.attrib">
        <empty/>
      </define>
      <define name="refnamediv.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refnamediv">
        <define name="refnamediv">
          <element name="refnamediv">
            <ref name="refnamediv.attlist"/>
            <optional>
              <ref name="refdescriptor"/>
            </optional>
            <oneOrMore>
              <ref name="refname"/>
            </oneOrMore>
            <ref name="refpurpose"/>
            <zeroOrMore>
              <ref name="refclass"/>
            </zeroOrMore>
            <zeroOrMore>
              <choice>
                <ref name="remark"/>
                <ref name="link.char.class"/>
              </choice>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="refnamediv.attlist">
        <define name="refnamediv.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="refnamediv.role.attrib"/>
          <ref name="local.refnamediv.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refdescriptor.module">
      <define name="local.refdescriptor.attrib">
        <empty/>
      </define>
      <define name="refdescriptor.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refdescriptor">
        <define name="refdescriptor">
          <element name="refdescriptor">
            <ref name="refdescriptor.attlist"/>
            <zeroOrMore>
              <ref name="refname.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="refdescriptor.attlist">
        <define name="refdescriptor.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="refdescriptor.role.attrib"/>
          <ref name="local.refdescriptor.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refname.module">
      <define name="local.refname.attrib">
        <empty/>
      </define>
      <define name="refname.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refname">
        <define name="refname">
          <element name="refname">
            <ref name="refname.attlist"/>
            <zeroOrMore>
              <ref name="refname.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="refname.attlist">
        <define name="refname.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="refname.role.attrib"/>
          <ref name="local.refname.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refpurpose.module">
      <define name="local.refpurpose.attrib">
        <empty/>
      </define>
      <define name="refpurpose.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refpurpose">
        <define name="refpurpose">
          <element name="refpurpose">
            <ref name="refpurpose.attlist"/>
            <zeroOrMore>
              <ref name="refinline.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="refpurpose.attlist">
        <define name="refpurpose.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="refpurpose.role.attrib"/>
          <ref name="local.refpurpose.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refclass.module">
      <define name="local.refclass.attrib">
        <empty/>
      </define>
      <define name="refclass.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refclass">
        <define name="refclass">
          <element name="refclass">
            <ref name="refclass.attlist"/>
            <zeroOrMore>
              <ref name="refclass.char.mix"/>
            </zeroOrMore>
          </element>
        </define>
      </div>

      <div db:name="refclass.attlist">
        <define name="refclass.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="refclass.role.attrib"/>
          <ref name="local.refclass.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refsynopsisdiv.module">
      <define name="local.refsynopsisdiv.attrib">
        <empty/>
      </define>
      <define name="refsynopsisdiv.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refsynopsisdiv">
        <define name="refsynopsisdiv">
          <element name="refsynopsisdiv">
            <ref name="refsynopsisdiv.attlist"/>
            <optional>
              <ref name="refsynopsisdivinfo"/>
            </optional>
            <optional>
              <ref name="refsect.title.content"/>
            </optional>
            <choice>
              <group>
                <oneOrMore>
                  <ref name="refcomponent.mix"/>
                </oneOrMore>
                <zeroOrMore>
                  <ref name="refsect2"/>
                </zeroOrMore>
              </group>
              <oneOrMore>
                <ref name="refsect2"/>
              </oneOrMore>
            </choice>
          </element>
        </define>
      </div>

      <div db:name="refsynopsisdiv.attlist">
        <define name="refsynopsisdiv.attlist" combine="interleave">
          <ref name="common.attrib"/>
          <ref name="refsynopsisdiv.role.attrib"/>
          <ref name="local.refsynopsisdiv.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refsection.module">
      <define name="local.refsection.attrib">
        <empty/>
      </define>
      <define name="refsection.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refsection">
        <define name="refsection">
          <element name="refsection">
            <ref name="refsection.attlist"/>
            <optional>
              <ref name="refsectioninfo"/>
            </optional>
            <ref name="refsect.title.content"/>
            <choice>
              <group>
                <oneOrMore>
                  <ref name="refcomponent.mix"/>
                </oneOrMore>
                <zeroOrMore>
                  <ref name="refsection"/>
                </zeroOrMore>
              </group>
              <oneOrMore>
                <ref name="refsection"/>
              </oneOrMore>
            </choice>
          </element>
        </define>
      </div>

      <div db:name="refsection.attlist">
        <define name="refsection.attlist" combine="interleave">
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="refsection.role.attrib"/>
          <ref name="local.refsection.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refsect1.module">
      <define name="local.refsect1.attrib">
        <empty/>
      </define>
      <define name="refsect1.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refsect1">
        <define name="refsect1">
          <element name="refsect1">
            <ref name="refsect1.attlist"/>
            <optional>
              <ref name="refsect1info"/>
            </optional>
            <ref name="refsect.title.content"/>
            <choice>
              <group>
                <oneOrMore>
                  <ref name="refcomponent.mix"/>
                </oneOrMore>
                <zeroOrMore>
                  <ref name="refsect2"/>
                </zeroOrMore>
              </group>
              <oneOrMore>
                <ref name="refsect2"/>
              </oneOrMore>
            </choice>
          </element>
        </define>
      </div>

      <div db:name="refsect1.attlist">
        <define name="refsect1.attlist" combine="interleave">
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="refsect1.role.attrib"/>
          <ref name="local.refsect1.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refsect2.module">
      <define name="local.refsect2.attrib">
        <empty/>
      </define>
      <define name="refsect2.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refsect2">
        <define name="refsect2">
          <element name="refsect2">
            <ref name="refsect2.attlist"/>
            <optional>
              <ref name="refsect2info"/>
            </optional>
            <ref name="refsect.title.content"/>
            <choice>
              <group>
                <oneOrMore>
                  <ref name="refcomponent.mix"/>
                </oneOrMore>
                <zeroOrMore>
                  <ref name="refsect3"/>
                </zeroOrMore>
              </group>
              <oneOrMore>
                <ref name="refsect3"/>
              </oneOrMore>
            </choice>
          </element>
        </define>
      </div>

      <div db:name="refsect2.attlist">
        <define name="refsect2.attlist" combine="interleave">
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="refsect2.role.attrib"/>
          <ref name="local.refsect2.attrib"/>
        </define>
      </div>
    </div>

    <div db:name="refsect3.module">
      <define name="local.refsect3.attrib">
        <empty/>
      </define>
      <define name="refsect3.role.attrib">
        <ref name="role.attrib"/>
      </define>

      <div db:name="refsect3">
        <define name="refsect3">
          <element name="refsect3">
            <ref name="refsect3.attlist"/>
            <optional>
              <ref name="refsect3info"/>
            </optional>
            <ref name="refsect.title.content"/>
            <oneOrMore>
              <ref name="refcomponent.mix"/>
            </oneOrMore>
          </element>
        </define>
      </div>

      <div db:name="refsect3.attlist">
        <define name="refsect3.attlist" combine="interleave">
          <ref name="status.attrib"/>
          <ref name="common.attrib"/>
          <ref name="refsect3.role.attrib"/>
          <ref name="local.refsect3.attrib"/>
        </define>
      </div>
    </div>
  </div>

<!-- ...................................................................... -->
<!-- Article .............................................................. -->
<!-- An Article is a chapter-level, stand-alone document that is often,
     but need not be, collected into a Book. -->

  <div db:name="article.module">
    <define name="local.article.attrib">
      <empty/>
    </define>
    <define name="article.role.attrib">
      <ref name="role.attrib"/>
    </define>

    <div db:name="article">
      <define name="article">
        <element name="article">
          <ref name="article.attlist"/>
          <optional>
            <ref name="div.title.content"/>
          </optional>
          <optional>
            <ref name="articleinfo"/>
          </optional>
          <optional>
            <ref name="tocchap"/>
          </optional>
          <zeroOrMore>
            <ref name="lot"/>
          </zeroOrMore>
          <ref name="bookcomponent.content"/>
          <zeroOrMore>
            <choice>
              <ref name="nav.class"/>
              <ref name="appendix.class"/>
              <ref name="ackno"/>
            </choice>
          </zeroOrMore>
        </element>
      </define>
    </div>

<!-- Class: Indicates the type of a particular article;
		all articles have the same structure and general purpose.
		No default. -->
<!-- ParentBook: ID of the enclosing Book -->

    <div db:name="article.attlist">
      <define name="article.attlist" combine="interleave">
        <optional>
          <attribute name="class">
            <choice>
              <value>journalarticle</value>
              <value>productsheet</value>
              <value>whitepaper</value>
              <value>techreport</value>
              <value>specification</value>
              <value>faq</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="parentbook">
            <data type="IDREF"/>
          </attribute>
        </optional>
        <ref name="status.attrib"/>
        <ref name="common.attrib"/>
        <ref name="article.role.attrib"/>
        <ref name="local.article.attrib"/>
      </define>
    </div>
  </div>

<!-- End of DocBook document hierarchy module V4.2 ........................ -->
<!-- ...................................................................... -->

</grammar>
