schema/relaxng/soextbl.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:rng="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:s="http://www.ascc.net/xml/schematron"
         xmlns:doc="http://nwalsh.com/xmlns/documentation"
         xmlns:db="http://nwalsh.com/xmlns/docbook-grammar-structure"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<rng:div doc:docbook="yes" xmlns="">
<partinfo>
<releaseinfo
   role="cvs">$Id$</releaseinfo>
<title>XML Exchange Table Model</title>
<productname>DocBook</productname>
<productnumber>4.2</productnumber>
<releaseinfo role="filename">soextbl</releaseinfo>
</partinfo>
<partintro>
<para>This set of declarations defines the XML version of the Exchange
Table Model as of the date shown in the Formal Public Identifier
(FPI) for this entity.</para>

<para>This set of declarations may be referred to using a public external
entity declaration and reference as shown in the following three
lines:</para>

<screen><![CDATA[<!ENTITY % calstblx
  PUBLIC "-//OASIS//DTD XML Exchange Table Model 19990315//EN">
  %calstblx;]]></screen>

<para>If various parameter entities used within this set of declarations
are to be given non-default values, the appropriate declarations
should be given before calling in this package (i.e., before the
"%calstblx;" reference).</para>

<para>The motivation for this XML version of the Exchange Table Model
is simply to create an XML version of the SGML Exchange Table
Model. By design, no effort has been made to "improve" the model.</para>

<para>This XML version incorporates the logical bare minimum changes
necessary to make the Exchange Table Model a valid XML DTD.</para>

<para>The XML version of the Exchange Table Model differs from
the SGML version in the following ways:</para>

<para>The following parameter entities have been removed:</para>

<itemizedlist>
<listitem>
<para>tbl.table.excep, tbl.hdft.excep, tbl.row.excep, tbl.entry.excep</para>
<para>
There are no exceptions in XML. The following normative statement
is made in lieu of exceptions: the exchange table model explicitly
forbids a table from occurring within another table. If the
content model of an entry includes a table element, then this
cannot be enforced by the DTD, but it is a deviation from the
exchange table model to include a table within a table.</para>
</listitem>

<listitem>
<para>tbl.hdft.name, tbl.hdft.mdl, tbl.hdft.excep, tbl.hdft.att</para>
<para>
The motivation for these elements was to change the table
header/footer elements. Since XML does not allow element declarations
to contain name groups, and the exchange table model does not
allow a table to contain footers, the continued presence of these
attributes seems unnecessary.</para>
</listitem>
</itemizedlist>

<para>The following parameter entity has been added:</para>

<itemizedlist>
<listitem>
<para>tbl.thead.att</para>
<para>This entity parameterizes the attributes on thead. It replaces
the tbl.hdft.att parameter entity.</para>
</listitem>
</itemizedlist>

<para>Other miscellaneous changes:</para>

<itemizedlist>
<listitem>
<para>Tag ommission indicators have been removed</para>
</listitem>

<listitem>
<para>Comments have been removed from declarations</para>
</listitem>

<listitem>
<para>NUMBER attributes have been changed to NMTOKEN</para>
</listitem>

<listitem>
<para>NUTOKEN attributes have been to changed to NMTOKEN</para>
</listitem>

<listitem>
<para>Removed the grouping characters around the content model
parameter entry for the 'entry' element. This is necessary
so that an entry can contain #PCDATA and be defined as an
optional, repeatable OR group beginning with #PCDATA.</para>
</listitem>
</itemizedlist>

<para>This entity includes a set of element and attribute declarations
that partially defines the Exchange table model.  However, the model
is not well-defined without the accompanying natural language
description of the semantics (meanings) of these various elements,
attributes, and attribute values.  The semantic writeup, also available
from SGML Open, should be used in conjunction with this entity.</para>

<para>In order to use the Exchange table model, various parameter entity
declarations are required.  A brief description is as follows:</para>

<informaltable>
<tgroup cols="3">
<thead>
  <row>
    <entry>Entity Name</entry>
    <entry>Where Used</entry>
    <entry>What It Is</entry>
  </row>
</thead>
<tbody>
  <row>
    <entry>%yesorno</entry>
    <entry>In ATTLIST of: almost all elements </entry>
    <entry>An attribute declared value for a "boolean" attribute</entry>
  </row>
  <row>
    <entry>%paracon</entry>
    <entry>In the content model of <sgmltag>entry</sgmltag></entry>
    <entry>The "text" (logical content) of the model group for
           <sgmltag>entry</sgmltag></entry>
  </row>
  <row>
    <entry>%titles</entry>
    <entry>In content model of: table element</entry>
    <entry>The "title" part of the model group for the table element</entry>
  </row>
  <row>
    <entry>%tbl.table.name</entry>
    <entry>In declaration of: table element</entry>
    <entry>The name of the "table" element</entry>
  </row>
  <row>
    <entry>%tbl.table-titles.mdl</entry>
    <entry>In content model of: table elements</entry>
    <entry>The model group for the title part of the content model for
           table element</entry>
  </row>
  <row>
    <entry>%tbl.table.mdl</entry>
    <entry>In content model of: table elements</entry>
    <entry>The model group for the content model for table element, often (and by
           default) defined in terms of %tbl.table-titles.mdl and tgroup</entry>
  </row>
  <row>
    <entry>%tbl.table.att</entry>
    <entry>In ATTLIST of: table element</entry>
    <entry>Additional attributes on the table element</entry>
  </row>
  <row>
    <entry>%bodyatt</entry>
    <entry>In ATTLIST of: table element</entry>
    <entry>Additional attributes on the table element (for backward compatibility
           with the SGML model)</entry>
  </row>
  <row>
    <entry>%tbl.tgroup.mdl</entry>
    <entry>In content model of: <sgmltag>tgroup</sgmltag></entry>
    <entry>The model group for the content model for <sgmltag>tgroup</sgmltag></entry>
  </row>
  <row>
    <entry>%tbl.tgroup.att</entry>
    <entry>In ATTLIST of: <sgmltag>tgroup</sgmltag></entry>
    <entry>Additional attributes on the <sgmltag>tgroup</sgmltag> element</entry>
  </row>
  <row>
    <entry>%tbl.thead.att</entry>
    <entry>In ATTLIST of: <sgmltag>thead</sgmltag></entry>
    <entry>Additional attributes on the <sgmltag>thead</sgmltag> element</entry>
  </row>
  <row>
    <entry>%tbl.tbody.att</entry>
    <entry>In ATTLIST of: <sgmltag>tbody</sgmltag></entry>
    <entry>Additional attributes on the <sgmltag>tbody</sgmltag> element</entry>
  </row>
  <row>
    <entry>%tbl.colspec.att</entry>
    <entry>In ATTLIST of: <sgmltag>colspec</sgmltag></entry>
    <entry>Additional attributes on the <sgmltag>colspec</sgmltag> element</entry>
  </row>
  <row>
    <entry>%tbl.row.mdl</entry>
    <entry>In content model of: <sgmltag>row</sgmltag></entry>
    <entry>The model group for the content model for <sgmltag>row</sgmltag></entry>
  </row>
  <row>
    <entry>%tbl.row.att</entry>
    <entry>In ATTLIST of: <sgmltag>row</sgmltag></entry>
    <entry>Additional attributes on the <sgmltag>row</sgmltag> element</entry>
  </row>
  <row>
    <entry>%tbl.entry.mdl</entry>
    <entry>In content model of: <sgmltag>entry</sgmltag></entry>
    <entry>The model group for the content model for <sgmltag>entry</sgmltag></entry>
  </row>
  <row>
    <entry>%tbl.entry.att</entry>
    <entry>In ATTLIST of: <sgmltag>entry</sgmltag></entry>
    <entry>Additional attributes on the <sgmltag>entry</sgmltag> element</entry>
  </row>
</tbody>
</tgroup>
</informaltable>

<para>This set of declarations will use the default definitions shown below
for any of these parameter entities that are not declared before this
set of declarations is referenced.</para>
</partintro>
</rng:div>

<!-- These definitions are not directly related to the table model, but are
     used in the default CALS table model and may be defined elsewhere (and
     prior to the inclusion of this table module) in the referencing DTD. -->
  <define name="yesorno">
    <data type="NMTOKEN"/>
  </define>
<!-- no if zero(s), yes if any other value -->
  <define name="titles">
    <optional>
      <ref name="title"/>
    </optional>
  </define>
  <define name="pcd">
    <text/>
  </define>
  <define name="paracon">
    <ref name="pcd"/>
  </define>
<!-- default for use in entry content -->
<!--
The parameter entities as defined below change and simplify the CALS table
model as published (as part of the Example DTD) in MIL-HDBK-28001.  The
resulting simplified DTD has support from the SGML Open vendors and is
therefore more interoperable among different systems.

These following declarations provide the Exchange default definitions
for these entities.  However, these entities can be redefined (by giving
the appropriate parameter entity declaration(s) prior to the reference
to this Table Model declaration set entity) to fit the needs of the
current application.

Note, however, that changes may have significant effect on the ability to
interchange table information.  These changes may manifest themselves
in useability, presentation, and possible structure information degradation.
-->
  <define name="tbl.table-titles.mdl">
    <ref name="titles"/>
  </define>
  <define name="tbl.table-main.mdl">
    <oneOrMore>
      <ref name="tgroup"/>
    </oneOrMore>
  </define>
  <define name="tbl.table.att">
    <optional>
      <attribute name="pgwide">
        <ref name="yesorno"/>
      </attribute>
    </optional>
  </define>
  <define name="tbl.tgroup.mdl">
    <zeroOrMore>
      <ref name="colspec"/>
    </zeroOrMore>
    <optional>
      <ref name="thead"/>
    </optional>
    <ref name="tbody"/>
  </define>
  <define name="tbl.row.mdl">
    <oneOrMore>
      <ref name="entry"/>
    </oneOrMore>
  </define>
<!-- =====  Element and attribute declarations follow. =====  -->
<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.table.name       "table"
     ENTITY % tbl.table-titles.mdl "%titles;,"
     ENTITY % tbl.table.mdl        "%tbl.table-titles; tgroup+"
     ENTITY % tbl.table.att        "
                        pgwide          %yesorno;       #IMPLIED "
-->
  <define name="table">
    <element name="table">
      <ref name="table.attlist"/>
      <ref name="tbl.table.mdl"/>
    </element>
  </define>
  <define name="table.attlist" combine="interleave">
    <optional>
      <attribute name="frame">
        <choice>
          <value>top</value>
          <value>bottom</value>
          <value>topbot</value>
          <value>all</value>
          <value>sides</value>
          <value>none</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <ref name="tbl.table.att"/>
    <ref name="bodyatt"/>
  </define>
<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.tgroup.mdl    "colspec*,thead?,tbody"
     ENTITY % tbl.tgroup.att    ""
-->
  <define name="tgroup">
    <element name="tgroup">
      <ref name="tgroup.attlist"/>
      <ref name="tbl.tgroup.mdl"/>
    </element>
  </define>
  <define name="tgroup.attlist" combine="interleave">
    <attribute name="cols">
      <data type="NMTOKEN"/>
    </attribute>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>justify</value>
          <value>char</value>
        </choice>
      </attribute>
    </optional>
    <ref name="tbl.tgroup.att"/>
  </define>
<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.colspec.att   ""
-->
  <define name="colspec">
    <element name="colspec">
      <ref name="colspec.attlist"/>
      <empty/>
    </element>
  </define>
  <define name="colspec.attlist" combine="interleave">
    <optional>
      <attribute name="colnum">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="colname">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="colwidth"/>
    </optional>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>justify</value>
          <value>char</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="char"/>
    </optional>
    <optional>
      <attribute name="charoff">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="tbl.colspec.att"/>
  </define>
<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.thead.att      ""
-->
  <define name="thead">
    <element name="thead">
      <ref name="thead.attlist"/>
      <oneOrMore>
        <ref name="row"/>
      </oneOrMore>
    </element>
  </define>
  <define name="thead.attlist" combine="interleave">
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <ref name="tbl.thead.att"/>
  </define>
<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.tbody.att     ""
-->
  <define name="tbody">
    <element name="tbody">
      <ref name="tbody.attlist"/>
      <oneOrMore>
        <ref name="row"/>
      </oneOrMore>
    </element>
  </define>
  <define name="tbody.attlist" combine="interleave">
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <ref name="tbl.tbody.att"/>
  </define>
<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.row.mdl       "entry+"
     ENTITY % tbl.row.att       ""
-->
  <define name="row">
    <element name="row">
      <ref name="row.attlist"/>
      <ref name="tbl.row.mdl"/>
    </element>
  </define>
  <define name="row.attlist" combine="interleave">
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <ref name="tbl.row.att"/>
  </define>
<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % paracon           "#PCDATA"
     ENTITY % tbl.entry.mdl     "(%paracon;)*"
     ENTITY % tbl.entry.att     ""
-->
  <define name="entry">
    <element name="entry">
      <ref name="entry.attlist"/>
      <ref name="tbl.entry.mdl"/>
    </element>
  </define>
  <define name="entry.attlist" combine="interleave">
    <optional>
      <attribute name="colname">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="namest">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="nameend">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="morerows">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="colsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rowsep">
        <ref name="yesorno"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>justify</value>
          <value>char</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="char"/>
    </optional>
    <optional>
      <attribute name="charoff">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="valign">
        <choice>
          <value>top</value>
          <value>middle</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
    <ref name="tbl.entry.att"/>
  </define>
</grammar>
